* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(110, 255, 32, 0.05);
}

.postLike:hover {
    text-decoration: underline;
}

.post hr {
    width: 90%;
}

.naveOne::-webkit-scrollbar {
    width: 0;
    background-color: rgba(0, 0, 0, 0.71);
}

.sideNavThree::-webkit-scrollbar {
    width: 0;
    background-color: rgba(0, 0, 0, 0.71);
}

.panel::-webkit-scrollbar {
    width: 0;
    background-color: rgba(0, 0, 0, 0.71);
}

.messagePosition {
    position: absolute;
    width: 100%;
}

.naveOne {
    height: 15vh;
    overflow: auto;
    padding-bottom: 100vh;
}

.sideNavThree {
    height: 15vh;
    overflow: auto;
    padding-bottom: 100vh;
}

.small {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    border: #00800061 1px solid;
}

.bold {
    font-family: 'Jua', sans-serif;
    font-size: 72px;
}

.userData{
    min-height: 100px;
    max-height: 500px;
}

.boldLight {
    font-family: 'Jua', sans-serif;
    font-size: 32px;
}

.boldSmall {
    font-family: 'Jua', sans-serif;
    font-size: 15px;
}

.navBar {
    overflow: hidden;
    background-color: #42b24b;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    height: 43px;
    border-bottom: solid 1px #0c0c0c;
}

.navBarMin {
    margin: 0 auto;
    width: 1235px;
}

.userPic {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.userPost div{
    position: static;
}

.userPicBar {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.userPicMessage {
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.sideNav {
    height: 400px;
    min-height: 350px;
    max-height: 450px;
    width: 180px;
    min-width: 180px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 11%;
    overflow: hidden;
}

.sideNavTwo {
    position: fixed;
    top: 50px;
    width: 820px;
    min-width: 820px;
    left: 23%;
    overflow: hidden;
    z-index: 1;
    height: 100%;
}

.w-85{
    width: 85%;
    margin-top: 50px;
}

.profilePic{
    width: 150px;
    height: 150px;
    position: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profileToolBar{
    width: 780px;
    height: 50px;
    background-color: #0e5f1063;
}

.profileBar{
    height: 50px;
    width: 50px;
    background-color: #0e5f1063;
}

.profileToolBar ul li{
    width: 150px;
    margin-top: 14px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 17px;
    color: white;
}

.profileToolBar ul li a{
    color: white;
}

.profileToolBar ul li a:hover{
    background-color: #0d4f0e;
}

.userProfile {
    top: 50px;
    width: 980px;
    min-width: 820px;
    height: 350px;
}

.userPost{
    width: 980px;
}


.backgroundImg{
    height: 100%;
    width: 100%;
    min-height: 350px;
    position: static;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/keyt-apton-10000x4840-keyt-apton-17362.jpg");
}

.naveTwo {
    height: 400px;
    min-height: 350px;
    max-height: 450px;
}

.border-50{
    border-radius: 50%;
}

.dateFont {
    font-family: 'Varela Round', sans-serif;
    font-size: 10px;
    color: rgba(14, 95, 16, 0.4);
}
.commentDelete {
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    color: rgba(14, 95, 16, 0.4);
}

.borderBottom{
    border-bottom: solid 1px rgba(14, 95, 16, 0.11);
    height: 60px;
}

.sideNavThree {
    position: fixed;
    top: 50px;
    height: 100%;
    width: 14%;
    left: 86%;
    overflow: scroll;
    z-index: 1;
}

.posts {
    width: 70%;
}

.advertising {
    width: 28%;
    margin-left: 2%;
}

.logBar {
    background-color: #42b24b;
    height: 82px;
    min-width: 980px;
}

.menuBar {
    margin: 0 auto;
    padding-top: 13px;
    width: 980px;
}

.mainContent {
    background: linear-gradient(to bottom, rgba(110, 255, 32, 0), rgba(110, 255, 32, 0.19) 90%);
}

.main {
    margin: 0 auto;
    width: 980px;
}

.inputFont {
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    padding: 8px 10px;
}

.regFont {
    font-family: 'Jua', sans-serif;
    font-size: 36px;
}

.regFontSmall {
    font-family: 'Jua', sans-serif;
    font-size: 19px;
}

.GFBFont {
    color: #0e5f10;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
}

.GFBIcon {
    color: #0e5f10;
    font-family: 'Jua', sans-serif;
    font-size: 40px;
}

.emailFont {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 11px;
}

.indexImg {
    top: 0;
}

.regBtn {
    text-align: center;
    color: white;
    background-color: #42b24b;
    width: 110px;
    height: 25px;
    margin-left: 10px;
}

.regBtn:hover {
    text-decoration: none;
    color: blue;
}

.loginForm {
    margin: auto;
    padding: 22px 108px 26px;
    width: 396px;

}

.padding {
    padding: 80px;
}

.width {
    width: 500px;
}

.border-green {
    border: #00800061 1px solid;
}

._1rf5 {
    text-align: center;
}

.login {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 9px;
    height: 25px;
}

a:hover {
    list-style: none;
    text-decoration: none;
}

.iGreen {
    font-size: 20px;
    color: #42b24b;
}
.iBlue {
    font-size: 20px;
    color: blue;
}

.iRed {
    font-size: 20px;
    color: #b2392b;
}

.iWhite {
    font-size: 20px;
    color: #ffffff;
}

.fas, .fab {

}

.iconFont {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 15px;
    color: #0c0c0c;
}

.iconFontBar {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 15px;
    color: white;
}

.titlePic {
    width: 60px;
    height: 60px;
}

li {
    list-style: none;
    text-decoration: none;
}

.G {
    margin: 5px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.G i {
    color: #42b24b;
    font-size: 25px;
}

.search {
    margin-top: 5px;
    height: 30px;
    width: 45px;
}

.description {
    font-size: 15px;
    border-bottom: solid 1px rgba(14, 95, 16, 0.11);
}

.panel {
    display: none;
    min-height: 1vh;
    height: 15vh;
    overflow: auto;
    padding: 70px;
}

.addTitle {
    height: 70px;
}

.addImage {
    border-top: solid 1px rgba(14, 95, 16, 0.1);
    height: 50px;
}

.barIcons li::after {
    content: "  |";
    color: #466b4170;
    margin-left: 5px;
}

.iconHover {
    list-style: none;
    text-decoration: none;
}

.iconHover:hover {
    list-style: none;
    text-decoration: none;
    background-color: rgba(14, 95, 16, 0.29);
}

.borderMessage {
    border-left: solid 1px rgba(14, 95, 16, 0.29);

}

.iconFontInteresting {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 17px;
    color: rgba(14, 39, 1, 0.72);
}

.borderRounded {
    border-radius: 10px;
}

.postComment a {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 40px;
}

.postHr {
    height: 15px;
}

.postComment a:hover {
    background-color: rgba(66, 178, 75, 0.25);

}
.postComment form:hover {
    background-color: rgba(66, 178, 75, 0.25);

}

.postUser span:hover {
    background-color: rgba(66, 178, 75, 0.25);
}

.postUser a:hover {
    list-style: none;
    text-decoration: none;
}

.postUser span {
    margin-left: 10px;
    color: black;
}

.postUser img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

@media (max-width: 1500px) {
    .sideNav {
        left: 7%;
    }

    .sideNavTwo {
        left: 20%;
    }
}

@media (max-width: 1350px) {
    .sideNav {
        left: 4%;
    }

    .sideNavTwo {
        left: 18%;
    }
}

@media (max-width: 1280px) {
    .sideNav {
        left: 0;
    }

    .sideNavTwo {
        left: 17%;
    }
}

@media (max-width: 1200px) {

    .slidenav {
        left: 4%;
    }

    .sideNavTwo {
        left: 23%;
    }

    .sideNavThree {
        display: none;
    }
}

@media (max-width: 1235px) {
    .navBarMin {
        padding: 0;
        width: 960px;
        margin: 0 auto;
    }
}