<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jua|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title></title>
</head>
<style>
    .addPic {
        position: absolute;
    }

    .container {
        padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        padding-top: 60px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        border: 1px solid #888;
        width: 20%;
    }

    .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
        from {
            -webkit-transform: scale(0)
        }
        to {
            -webkit-transform: scale(1)
        }
    }

    @keyframes animatezoom {
        from {
            transform: scale(0)
        }
        to {
            transform: scale(1)
        }
    }

    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }
    }
</style>
<body>
<div class="navBar">
    <div class="navBarMin  d-flex">
        <div class="input-group d-flex  w-50">
            <div class="G"><a href="/homePage"><i class="fab fa-gofore"></i></a></div>
            <input type="text" class="search w-75" placeholder="Search">
            <div class="input-group-append">
                <a href="/">
                    <button class="search" type="button"><i class="fas fa-search"></i></button>
                </a>
            </div>
        </div>
        <div class="w-50 ml-4 d-flex ">
            <ul class="d-flex mt-2 barIcons">
                <div class="iconHover" th:if="${us.pic_url != null}">
                    <li><a href="/"><img class="userPicBar m-1 border border-light"
                                         th:src="@{'/post/userImage?'(picUrl=${us.pic_url})}" alt=""> <span
                            class=" iconFontBar" th:text="${us.name + ' ' + us.surname}"></span></a>
                    </li>
                </div>
                <div class="iconHover" th:if="${us.pic_url == null}">
                    <li><a href="/"><img class="userPicBar m-1 border border-light" src="/user.png" alt=""> <span
                            class=" iconFontBar" th:text="${us.name + ' ' + us.surname}"></span></a>
                    </li>
                </div>
                <div class="iconHover">
                    <li class="ml-2"><a href="/homePage"><span class="iconFontBar">General</span></a></li>
                </div>
                <div class="iconHover">
                    <li class="ml-2"><a href="/"><i class="fas fa-user-friends iWhite"></i></i></a></li>
                </div>
                <div class="iconHover">
                    <li class="ml-2"><a href="/"><i class="fab fa-facebook-messenger iWhite"> </i></a></li>
                </div>
                <div class="iconHover">
                    <li class="ml-2"><a href="/"><i class="far fa-bell iWhite"></i></a></li>
                </div>

            </ul>
            <ul class="mt-1 ">
                <div class="iconHover">
                    <li class="ml-2"><a href="/"><i class="fas fa-sort-down iWhite"></i></a></li>
                </div>
            </ul>
            <ul class="mt-1 ">
                <div class="iconHover">
                    <li class="m1-2 btn btn-info"><a href="/logout">Log Out</a></li>
                </div>
            </ul>
        </div>
    </div>
</div>

<div class="d-flex flex-column w-85 justify-content-center align-items-center">
    <div class="userProfile">
        <div th:if="${friend.pic_url_cover == null}">
            <div class="backgroundImg d-flex align-items-end">
                <div class="addPic">
                    <button onclick="document.getElementById('id03').style.display='block'"
                            class="btn btn-outline-success iWhite">Choose File
                    </button>
                </div>
                <div id="id03" class="modal">
                    <form class="modal-content animate d-flex" action="/user/addImageCover"
                          enctype="multipart/form-data"
                          method="post">
                            <span onclick="document.getElementById('id03').style.display='none'" class="close"
                                  title="Close Modal">&times;</span>

                        <input type="file" name="img" class="btn btn-success w-100">
                        <div class="container" style="background-color:#f1f1f1">
                            <button type="button" onclick="document.getElementById('id03').style.display='none'"
                                    class="btn btn-danger">Cancel
                            </button>
                            <input class="btn btn-info"
                                   onclick="document.getElementById('id03').style.display='none'" type="submit"
                                   value="Add"/>
                        </div>
                    </form>
                </div>
                <div class="profileBar"></div>
                <div th:if="${friend.pic_url == null}" style="display:flex;align-items: center;justify-content: center">
                    <img class="profilePic" src="/user.png">
                </div>
                <div th:if="${friend.pic_url != null}">
                    <img class="profilePic" th:src="@{'/post/userImage?'(picUrl=${friend.pic_url})}">
                </div>
                <div class="profileToolBar d-flex">
                    <ul class="d-flex ml-5">
                        <li><a href="/">Information</a></li>
                        <li><a href="/">Photos</a></li>
                        <li><a href="/">Friends</a></li>
                    </ul>
                </div>
                <div class="ml-5 iBlue">
                    <a href="#">+ Add Friend</a>
                </div>
            </div>
        </div>
        <div th:if="${friend.pic_url_cover != null}">
            <div class="backgroundImgExists d-flex align-items-end">
                <!--<img  th:src="@{'/post/userImage?'(picUrl=${us.pic_url_cover})}">-->
                <div class="profileBar"></div>
                <div th:if="${friend.pic_url == null}" style="display:flex;align-items: center;justify-content: center">
                    <img class="profilePic" src="/user.png">
                </div>
                <div th:if="${us.pic_url != null}">
                    <img class="profilePic" th:src="@{'/post/userImage?'(picUrl=${friend.pic_url})}">
                </div>
                <div class="profileToolBar d-flex">
                    <ul class="d-flex ml-5">
                        <li><a href="/">Information</a></li>
                        <li><a href="/">Photos</a></li>
                        <li><a href="/">Friends</a></li>

                    </ul>
                </div>
                <div class="ml-5 iBlue">
                    <a href="#">+ Add Friend</a>
                </div>
            </div>
        </div>

    </div>
    <div class="userPost d-flex">
        <div class="userData mt-4 bg-light  col-md-5">33333333</div>
        <div class="col-md-7 mt-4">
            <form action="/post/addPostFromFriendPage" method="post" enctype="multipart/form-data">
                <div class="addPost    bg-light">
                    <div class="description mt-2 d-flex justify-content-center w-100"><i
                            class="fas iGreen fa-pencil-alt"></i><span class="ml-2 mb-2">Compose Post</span></div>
                    <div class="d-flex addTitle">
                        <div class="d-flex justify-content-center align-items-center w-25">
                            <div th:if="${us.pic_url != null}">
                                <img class="titlePic border-50"
                                     th:src="@{'/post/userImage?'(picUrl=${us.pic_url})}">
                            </div>
                            <div th:if="${us.pic_url == null}">
                                <img class="titlePic border-50" src="/user.png">
                            </div>
                        </div>
                        <div class="d-flex justify-content-center align-items-center w-75">
                            <input type="hidden" name="friend_id" th:value="${friend.id}"/>
                            <textarea class="bg-light" name="name" rows="2" cols="40"
                                      th:placeholder="'Write anything to' + ' ' + ${friend.name}">

                        </textarea>
                        </div>
                    </div>
                    <div class="addImage d-flex mt-2">
                        <input type="hidden" name="user_id" th:value="${us.id}">
                        <input type="file" name="image" class="btn m-1 btn-success w-50">
                        <input type="submit" class="btn m-1 btn-outline-success w-50">
                    </div>
                </div>
            </form>
            <div th:if="${friendPost.isEmpty()}">
                </br>
                <h2 style="text-align: center">You have not any posts yet.
                    you can add it just now </h2>
            </div>
            <div class="post mt-2 borderRounded border bg-light" th:each="post : ${userFriendPost}">
                <div class="postUser m-2 d-flex justify-content-between">
                    <div th:if="${post.user.pic_url != null}">
                        <h4 th:text="${post.user.name + ' ' + 'Tagged ' + ' ' + friend.name}"></h4>
                        <a href="#"><img th:src="@{'/post/userImage?'(picUrl=${post.user.pic_url})}">
                            <span
                                    th:text="${post.user.name + ' ' +  post.user.surname} " class="iconFontBar"></span>
                        </a>
                    </div>
                    <div th:if="${post.user.pic_url == null}">
                        <h4 th:text="${'You Tagged ' + ' ' + friend.name}"></h4>
                        <a href="#"><img src="/user.png"> <span
                                th:text="${post.user.name}+${post.user.surname} " class="iconFontBar"></span> </a>
                    </div>
                    <p class="dateFont" th:text="'Date'+ ' '+ ${post.date}"><i class="far iGreen fa-clock"></i></p>

                </div>
                <div class="postTitle m-2">
                    <span th:text="${post.name}"></span>
                </div>
                <div class="postPic mt-2 w-100">
                    <img class="w-100" th:src="@{'/post/userImage?'(picUrl=${post.getPic_url()})}">
                </div>
                <div class="postLike mt-2">
                    <a href="/"><i class="ml-3 fas fa-thumbs-up"></i><span class="ml-1"
                                                                           th:text="${post.likes.size()}"></span></a>
                </div>
                <div class="d-flex postHr justify-content-center">
                    <hr/>
                </div>
                <div class="postComment d-flex">
                    <div th:if="${post.listStatus.name() != 'TRUE'}"
                         class="w-50 d-flex align-items-center justify-content-center">
                        <form class="d-flex align-items-center justify-content-center" action="/post/addLike"
                              method="post">
                            <i class="far iGreen fa-thumbs-up"></i>
                            <input type="submit" class="btn iGreen btn-link" value="Like">
                            <input type="hidden" name="user_id" th:value="${us.id}">
                            <input type="hidden" name="post_id" th:value="${post.id}">
                        </form>
                    </div>
                    <div th:if="${post.listStatus.name() == 'TRUE'}"
                         class="w-50 d-flex align-items-center justify-content-center">
                        <form class="d-flex align-items-center justify-content-center" action="/post/disLike"
                              method="post">
                            <i class="far iBlue fa-thumbs-up"></i>
                            <input type="submit" class="btn iBlue  btn-link" value="Dislike">
                            <input type="hidden" name="user_id" th:value="${us.id}">
                            <input type="hidden" name="post_id" th:value="${post.id}">
                        </form>
                    </div>

                    <a class="w-50 click m-1"><i class="far iGreen fa-comments"></i><span
                            class="ml-1 iGreen ">Comment</span></a>
                </div>
                <div class="d-flex postHr justify-content-center">
                    <hr/>
                </div>
                <div class="panel w-100 mt-2 ">
                    <div class="d-flex borderBottom mt-2 align-items-center" th:each="comment : ${post.comments}">
                        <div th:if="${comment.user.pic_url != null}">
                            <img class="userPicMessage"
                                 th:src="@{'/post/userImage?'(picUrl=${comment.user.getPic_url()})}">
                        </div>
                        <div th:if="${comment.user.pic_url == null}">
                            <img class="userPicMessage" src="/user.png">
                        </div>
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <div class="ml-3" th:text="${comment.comment}"></div>
                            <div th:if="${comment.user.id==us.id}">
                                <form action="/post/deleteComment" method="post">
                                    <input type="hidden" th:value="${comment.id}" name="comment_id">
                                    <input type="submit" class="commentDelete btn btn-link" value="Delete">
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <form class="d-flex clickForm" action="/addComment" method="post" style="margin-top: 10px">
                    <input class="w-100 btn btn-outline-success" type="text" name="comment"
                           placeholder="Write Comment">
                    <input type="hidden" name="post_id" th:value="${post.id}"/>
                    <input type="hidden" name="user_id" th:value="${us.id}">
                    <input type="submit" class="btn btn-outline-success" value="Add">
                </form>
            </div>

            <div class="post mt-2 borderRounded border bg-light" th:each="post : ${friendPost}">
                <div class="postUser m-2 d-flex justify-content-between">
                    <div th:if="${post.user.pic_url != null}">
                        <a href="#"><img th:src="@{'/post/userImage?'(picUrl=${post.user.pic_url})}">
                            <span
                                    th:text="${post.user.name + ' ' +  post.user.surname} " class="iconFontBar"></span>
                        </a>
                    </div>
                    <div th:if="${post.user.pic_url == null}">
                        <a href="#"><img src="/user.png"> <span
                                th:text="${post.user.name}+${post.user.surname} " class="iconFontBar"></span> </a>
                    </div>
                    <p class="dateFont" th:text="'Date'+ ' '+ ${post.date}"><i class="far iGreen fa-clock"></i></p>

                </div>
                <div class="postTitle m-2">
                    <span th:text="${post.name}"></span>
                </div>
                <div class="postPic mt-2 w-100">
                    <img class="w-100" th:src="@{'/post/userImage?'(picUrl=${post.getPic_url()})}">
                </div>
                <div class="postLike mt-2">
                    <a href="/"><i class="ml-3 fas fa-thumbs-up"></i><span class="ml-1"
                                                                           th:text="${post.likes.size()}"></span></a>
                </div>
                <div class="d-flex postHr justify-content-center">
                    <hr/>
                </div>
                <div class="postComment d-flex">
                    <div th:if="${post.listStatus.name() != 'TRUE'}"
                         class="w-50 d-flex align-items-center justify-content-center">
                        <form class="d-flex align-items-center justify-content-center" action="/post/addLike"
                              method="post">
                            <i class="far iGreen fa-thumbs-up"></i>
                            <input type="submit" class="btn iGreen btn-link" value="Like">
                            <input type="hidden" name="user_id" th:value="${us.id}">
                            <input type="hidden" name="post_id" th:value="${post.id}">
                        </form>
                    </div>
                    <div th:if="${post.listStatus.name() == 'TRUE'}"
                         class="w-50 d-flex align-items-center justify-content-center">
                        <form class="d-flex align-items-center justify-content-center" action="/post/disLike"
                              method="post">
                            <i class="far iBlue fa-thumbs-up"></i>
                            <input type="submit" class="btn iBlue  btn-link" value="Dislike">
                            <input type="hidden" name="user_id" th:value="${us.id}">
                            <input type="hidden" name="post_id" th:value="${post.id}">
                        </form>
                    </div>

                    <a class="w-50 click m-1"><i class="far iGreen fa-comments"></i><span
                            class="ml-1 iGreen ">Comment</span></a>
                </div>
                <div class="d-flex postHr justify-content-center">
                    <hr/>
                </div>
                <div class="panel w-100 mt-2 ">
                    <div class="d-flex borderBottom mt-2 align-items-center" th:each="comment : ${post.comments}">
                        <div th:if="${comment.user.pic_url != null}">
                            <img class="userPicMessage"
                                 th:src="@{'/post/userImage?'(picUrl=${comment.user.getPic_url()})}">
                        </div>
                        <div th:if="${comment.user.pic_url == null}">
                            <img class="userPicMessage" src="/user.png">
                        </div>
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <div class="ml-3" th:text="${comment.comment}"></div>
                            <div th:if="${comment.user.id==us.id}">
                                <form action="/post/deleteComment" method="post">
                                    <input type="hidden" th:value="${comment.id}" name="comment_id">
                                    <input type="submit" class="commentDelete btn btn-link" value="Delete">
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <form class="d-flex clickForm" action="/addComment" method="post" style="margin-top: 10px">
                    <input class="w-100 btn btn-outline-success" type="text" name="comment"
                           placeholder="Write Comment">
                    <input type="hidden" name="post_id" th:value="${post.id}"/>
                    <input type="hidden" name="user_id" th:value="${us.id}">
                    <input type="submit" class="btn btn-outline-success" value="Add">
                </form>
            </div>
        </div>
    </div>
</div>


<div class="d-flex userPost"></div>

<div class="borderMessage sideNavThree">
    <div>
        <div th:each="users : ${user}" class="d-flex  iconHover">
            <a th:href="@{|/friendsPage/${users.id}|}">
                <ul class="d-flex m-2">
                    <li class="d-flex">
                        <div th:if="${users.pic_url != null}">
                            <img class="userPicMessage"
                                 th:src="@{'/post/userImage?'(picUrl=${users.pic_url})}">
                        </div>
                        <div th:if="${users.pic_url == null}">
                            <img class="userPicMessage " src="/user.png">
                        </div>
                        <span th:text="${users.name}" class="ml-3 mt-1">User</span>
                        <span th:text="${users.surname}" class="ml-2 mt-1">User</span></li>
                </ul>
            </a>
        </div>
    </div>
    <div>

    </div>
</div>
</body>
</html>