<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>Friend</title>
</head>
<body>
<a href="/userPage">
</a>
<br>
<br>
<div th:each="user: ${userFriends}">
    <div>
        <div>
            <div>
                <a href="/user?otherUserId=${userfriend.id}">
                    <img src="/getPic?filename=${userfriend.picture}">

                </a>
                <div>
                    <h4 th:text="${user.name}+ ${user.surname}"></h4>
                    <hr>
                    <a href="/messages"><span class="label label-success">Send Message</span></a>
                    <a href="/removeFriends?friendForRemove=${userfriend.id}"><span>Remove</span></a>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
