<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jua|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title th:text="${us.name + ' '+ us.surname}"></title>
</head>
<body>
<div class="navBar">
    <div class="navBarMin  d-flex">
        <div class="input-group d-flex  w-50">
            <div class="G"><a href="/homePage"><i class="fab fa-gofore"></i></a></div>
            <input type="text" class="search w-75" placeholder="Search">
            <div class="input-group-append">
                <a href="/">
                    <button class="search" type="button"><i class="fas fa-search"></i></button>
                </a>
            </div>
        </div>
        <div class="w-50 ml-4 d-flex ">
            <ul class="d-flex mt-2 barIcons">
                <div class="iconHover" th:if="${us.pic_url != null}">
                    <li><a href="/userPage"><img class="userPicBar m-1 border border-light"
                                                 th:src="@{'/post/userImage?'(picUrl=${us.getPic_url()})}" alt=""> <span
                            class=" iconFontBar" th:text="${us.name + ' ' + us.surname}"></span></a>
                    </li>
                </div>
                <div class="iconHover" th:if="${us.pic_url == null}">
                    <li><a href="/userPage"><img class="userPicBar m-1 border border-light" src="/user.png" alt="">
                        <span
                                class=" iconFontBar" th:text="${us.name + ' ' + us.surname}"></span></a>
                    </li>
                </div>
                <div class="iconHover">
                    <li class="ml-2"><a href="/homePage"><span class="iconFontBar">General</span></a></li>
                </div>
                <div class="">
                    <li class="ml-2">
                        <div class="dropdown4">
                            <i onclick="myFunction4()" class=" dropbtn4 fab fa-facebook-messenger iWhite"></i>
                            <div id="myDropdown4" class="dropdown-content4">
                                <div th:if="${userMessages!=null}">
                                    <div th:each="users : ${userMessages}">
                                        <a th:href="@{'/message/'+${users.to.id}}">
                                            <div>
                                                <div class="d-flex  iconHover">
                                                    <ul class="d-flex m-2">
                                                        <li class="d-flex">
                                                            <div th:if="${users.to.pic_url != null}">
                                                                <img class="userPicMessage"
                                                                     th:src="@{'/post/userImage?'(picUrl=${users.to.getPic_url()})}">
                                                            </div>
                                                            <div th:if="${users.to.pic_url == null}">
                                                                <img class="userPicMessage " src="/user.png">
                                                            </div>


                                                            <span th:text="${users.to.name}"
                                                                  class="ml-3 mt-1">User</span>
                                                            <span th:text="${users.to.surname}"
                                                                  class="ml-2 mt-1">User</span>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div th:if="${userMessages==null}">
                                    <p class="iBlack">No Messages</p>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="">
                    <li class="ml-2">
                        <div class="dropdown3">
                            <i onclick="myFunction3()" class=" dropbtn3 fas fa-user-friends iWhite"></i>
                            <div id="myDropdown3" class="dropdown-content3">
                                <div th:if="${requests!=null}">
                                    <div th:each="req : ${requests}">
                                        <ul class="d-flex m-2 border-bottom border-success">
                                            <li  class="d-flex mb-2">
                                                <div th:if="${req.from.pic_url != null}">
                                                    <img class="userPicMessage"
                                                         th:src="@{'/post/userImage?'(picUrl=${req.from.pic_url})}">
                                                </div>
                                                <div th:if="${req.from.pic_url == null}">
                                                    <img class="userPicMessage " src="/user.png">
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <div class="d-flex">
                                                        <span th:text="${req.from.name}" class="ml-3 iBlack"></span>
                                                        <span th:text="${req.from.surname}" class="ml-2 iBlack"></span>
                                                    </div>
                                                    <div class="d-flex ml-2">
                                                        <a th:href="@{'/acceptRequest/'+${req.from.id}+'/'+${req.id}}"><span class="accept">Accept</span></a>
                                                        <a th:href="@{'/rejectRequest/'+${req.id}}"><span class="reject">Reject</span></a>
                                                    </div>

                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div th:if="${requests==null}">
                                    <p class="iBlack">No Requests</p>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="">
                    <li class="ml-2">
                        <div class="dropdown2">
                            <i onclick="myFunction2()" class=" dropbtn2  far fa-bell iWhite"></i>

                            <div id="myDropdown2" class="dropdown-content2">
                                <a href="#home">Home</a>
                                <a href="">About</a>
                                <a href="/logout">logout</a>
                            </div>
                        </div>
                    </li>
                </div>

            </ul>
            <div class="ml-2 mt-1 ">
                <div class="dropdown">
                    <i onclick="myFunction()" class="fas iWhite dropbtn fa-caret-down"></i>

                    <div id="myDropdown" class="dropdown-content">
                        <a href="/homePage">Home</a>
                        <a href="/settings">Settings</a>
                        <a href="/logout">logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex">
    <div class=" sideNav">
        <div>
            <ul>
                <div class="iconHover">
                    <div th:if="${us.pic_url != null}">
                        <li><a href="/userPage"><img class="userPic m-1"
                                                     th:src="@{'/post/userImage?'(picUrl=${us.getPic_url()})}"> <span
                                th:text="${us.name + ' ' + us.surname} " class="ml-2  iconFont"></span></a>
                        </li>
                    </div>
                    <div th:if="${us.pic_url == null}">
                        <li><a href="/userPage"><img class="userPic m-1"
                                                     src="/user.png"> <span
                                th:text="${us.name + ' ' + us.surname} " class="ml-2  iconFont"></span></a>
                        </li>
                    </div>
                </div>
                <div class="iconHover">
                    <li class="mt-3"><a href="/homePage"><i class="fas fa-columns iGreen"></i> <span
                            class="ml-1 iconFont">News Feed</span></a>
                    </li>
                </div>
                <div class="iconHover">
                    <li class="mt-1"><a href="/messagePage"><i class="fab fa-facebook-messenger iGreen"> </i> <span
                            class="ml-2 iconFont">messenger</span></a></li>
                </div>
            </ul>
        </div>

        <div class="mt-3">
            <h4 class="iconFontInteresting">Explore</h4>
            <ul>
                <li class="mt-1"><a class="iconHover" href="/"><i class="fas fa-ribbon iGreen"></i> <span
                        class="ml-1 iconFont">News Feed</span></a>
                </li>
                <li class="mt-1"><a class="iconHover" href="/"><i class="fas fa-calendar iGreen"></i> <span
                        class="ml-1 iconFont">Events</span></a></li>
                <li class="mt-1"><a class="iconHover" href="/"><i class="fas fa-flag iGreen"> </i> <span
                        class="ml-2 iconFont">Pages</span></a></li>
                <li class="mt-1"><a class="iconHover" href="/"><i class="fas fa-users iGreen"></i> </i> <span
                        class="ml-2 iconFont">Groups</span></a></li>
                <li class="mt-1"><a class="iconHover" href="/"><i class="fas fa-sun iGreen"> </i> <span
                        class="ml-2 iconFont">Weather</span></a></li>

            </ul>
        </div>
    </div>

    <div class="d-flex sideNavTwo">
        <div class=" naveOne  col-md-7">
            <form action="/post/addPost" method="post" enctype="multipart/form-data">
                <div class="addPost mt-2 borderRounded border bg-light">
                    <div class="description mt-2 d-flex justify-content-center w-100"><i
                            class="fas iGreen fa-pencil-alt"></i><span class="ml-2 mb-2">Compose Post</span></div>
                    <div class="d-flex addTitle">
                        <div class="d-flex justify-content-center align-items-center w-25">
                            <div th:if="${us.pic_url != null}">
                                <img class="titlePic border-50"
                                     th:src="@{'/post/userImage?'(picUrl=${us.getPic_url()})}">
                            </div>
                            <div th:if="${us.pic_url == null}">
                                <img class="titlePic border-50" src="/user.png">
                            </div>
                        </div>
                        <div class="d-flex justify-content-center align-items-center w-75">
                        <textarea class="bg-light" name="name" rows="2" cols="40">

                        </textarea>
                        </div>
                    </div>
                    <div class="addImage d-flex mt-2">
                        <input type="hidden" name="user_id" th:value="${us.id}">
                        <input type="file" name="image" class="btn m-1 btn-success w-50">
                        <input type="submit" value="Add" class="btn m-1 btn-outline-success w-50">
                    </div>

                </div>
            </form>


            <div class="post mt-2 borderRounded border bg-light" th:if="${posts !=null}" th:each="post : ${posts}">
                <div class="postUser m-2 d-flex justify-content-between">
                    <div th:if="${post.user.pic_url != null}">
                        <a href="#"><img th:src="@{'/post/userImage?'(picUrl=${post.user.getPic_url()})}"> <span
                                th:text="${post.user.name}+${post.user.surname} " class="iconFontBar"></span> </a>
                    </div>
                    <div th:if="${post.user.pic_url == null}">
                        <a href="#"><img src="/user.png"> <span
                                th:text="${post.user.name}+${post.user.surname} " class="iconFontBar"></span> </a>
                    </div>
                    <p class="dateFont" th:text="'Date'+ ' '+ ${post.date}"><i class="far iGreen fa-clock"></i></p>

                </div>
                <div class="postTitle m-2">
                    <span th:text="${post.name}"></span>
                </div>
                <div class="postPic mt-2 w-100">
                    <img class="w-100" th:src="@{'/post/userImage?'(picUrl=${post.getPic_url()})}">
                </div>
                <div class="postLike mt-2">

                    <a href="#" id="myBtn"><i class="ml-3 fas fa-thumbs-up"></i><span class="ml-1"
                                                                                      th:text="${post.likes.size()}"></span></a>

                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p class="m-3" th:text="${post.likes.size()+'  likes'}"></p>
                            <div th:each="likes : ${post.likes}">
                                <div class="d-flex  align-items-center m-3">
                                    <img th:src="@{'/post/userImage?'(picUrl=${likes.user.getPic_url()})}"
                                         class="userPicMessage">
                                    <span th:text="${likes.user.name+' '+likes.user.surname}"
                                          class="iconFont ml-3"></span>
                                </div>
                                <hr class="likeHr"/>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="d-flex postHr justify-content-center">
                    <hr/>
                </div>
                <div class="postComment d-flex">
                    <div th:if="${post.listStatus.name() != 'TRUE'}"
                         class="w-50 d-flex align-items-center justify-content-center">
                        <form class="d-flex align-items-center justify-content-center" action="/post/addLike"
                              method="post">
                            <i class="far iGreen fa-thumbs-up"></i>
                            <input type="submit" class="btn iGreen btn-link" value="Like">
                            <input type="hidden" name="user_id" th:value="${us.id}">
                            <input type="hidden" name="post_id" th:value="${post.id}">
                        </form>
                    </div>
                    <div th:if="${post.listStatus.name() == 'TRUE'}"
                         class="w-50 d-flex align-items-center justify-content-center">
                        <form class="d-flex align-items-center justify-content-center" action="/post/disLike"
                              method="post">
                            <i class="far iBlue fa-thumbs-up"></i>
                            <input type="submit" class="btn iBlue  btn-link" value="Dislike">
                            <input type="hidden" name="user_id" th:value="${us.id}">
                            <input type="hidden" name="post_id" th:value="${post.id}">
                        </form>
                    </div>

                    <a class="w-50 click m-1"><i class="far iGreen fa-comments"></i><span
                            class="ml-1 iGreen ">Comment</span></a>
                </div>
                <div class="d-flex postHr justify-content-center">
                    <hr/>
                </div>
                <div class="panel w-100 mt-2 ">
                    <div class="d-flex borderBottom mt-2 align-items-center" th:each="comment : ${post.comments}">
                        <div th:if="${comment.user.getPic_url() != null}">
                            <img class="userPicMessage"
                                 th:src="@{'/post/userImage?'(picUrl=${comment.user.getPic_url()})}">
                        </div>
                        <div th:if="${comment.user.getPic_url() == null}">
                            <img class="userPicMessage" src="/user.png">
                        </div>
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <div class="ml-3" th:text="${comment.comment}"></div>
                            <div th:if="${comment.user.id==us.id}">
                                <form action="/post/deleteComment" method="post">
                                    <input type="hidden" th:value="${comment.id}" name="comment_id">
                                    <input type="submit" class="commentDelete btn btn-link" value="Delete">
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <form class="d-flex clickForm" action="/addComment" method="post" style="margin-top: 10px">
                    <input class="w-100 btn btn-outline-success" type="text" name="comment"
                           placeholder="Write Comment">
                    <input type="hidden" name="post_id" th:value="${post.id}"/>
                    <input type="hidden" name="user_id" th:value="${us.id}">
                    <input type="submit" class="btn btn-outline-success" value="Add">
                </form>
            </div>

        </div>
        <div class=" bg-light borderRounded naveTwo border col-md-4 ml-2">33333333</div>
    </div>
</div>
<div class="borderMessage sideNavThree">
    <div th:each="users : ${user}" class="d-flex  iconHover">

        <a th:href="@{'/friendsPage/' +${users.getId()}}">
            <ul class="d-flex m-2">
                <li class="d-flex">
                    <div th:if="${users.pic_url != null}">
                        <img class="userPicMessage"
                             th:src="@{'/post/userImage?'(picUrl=${users.pic_url})}">
                    </div>
                    <div th:if="${users.pic_url == null}">
                        <img class="userPicMessage " src="/user.png">
                    </div>
                    <span th:text="${users.name}" class="ml-3 iBlack mt-1"></span>
                    <span th:text="${users.surname}" class="ml-2 iBlack mt-1"></span></li>
            </ul>
        </a>
    </div>
</div>
<script src="/min.js">
</script>
</body>
</html>
