<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jua|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>GreenFB</title>
</head>
<body>
<div class="navBar">
    <div class="navBarMin  d-flex">
        <div class="input-group d-flex  w-50">
            <div class="G"><a href="/homePage"><i class="fab fa-gofore"></i></a></div>
            <input type="text" class="search w-75" placeholder="Search">
            <div class="input-group-append">
                <a href="/">
                    <button class="search" type="button"><i class="fas fa-search"></i></button>
                </a>
            </div>
        </div>
        <div class="w-50 ml-4 d-flex ">
            <ul class="d-flex mt-2 barIcons">

                <div class="iconHover">
                    <div th:if="${us.pic_url != null}">
                        <li><a href="/userPage"><img class="userPicBar m-1 border border-light"
                                                     th:src="@{'/post/userImage?'(picUrl=${us.getPic_url()})}"> <span
                                th:text="${us.name} + ' ' + ${us.surname}" class=" iconFontBar"></span></a>
                        </li>
                    </div>
                    <div th:if="${us.pic_url == null}">
                        <li><a href="/userPage"><img class="userPicBar m-1 border border-light" src="/user.png">
                            <span th:text="${us.name} + ' ' + ${us.surname}" class=" iconFontBar"></span></a>
                        </li>
                    </div>
                </div>
                <div class="iconHover">
                    <li class="ml-2"><a href="/homePage"><span class="iconFontBar">Home</span></a></li>
                </div>
                <div class="iconHover">
                    <li class="ml-2"><a href="/"><i class="fas fa-user-friends iWhite"></i></i></a></li>
                </div>
                <div class="iconHover">
                    <li class="ml-2"><a href="/"><i class="fab fa-facebook-messenger iWhite"> </i></a></li>
                </div>
                <div class="iconHover">
                    <li class="ml-2"><a href="/"><i class="far fa-bell iWhite"></i></a></li>
                </div>

            </ul>
            <ul class="mt-1 ">
                <div class="iconHover">
                    <li class="ml-2"><a href="/"><i class="fas fa-sort-down   iWhite"></i></a></li>
                </div>
            </ul>
        </div>
    </div>
</div>
<div class="d-flex">
    <div class=" sideNav">
        <div>
            <ul>

                <div class="iconHover">
                    <div th:if="${us.pic_url != null}">
                        <li><a href="/userPage"><img class="userPic m-1"
                                                     th:src="@{'/post/userImage?'(picUrl=${us.getPic_url()})}"> <span
                                th:text="${us.name + ' ' + us.surname} " class="ml-2  iconFont"></span></a>
                        </li>
                    </div>
                    <div th:if="${us.pic_url == null}">
                        <li><a href="/userPage"><img class="userPic m-1"
                                                     src="/user.png"> <span
                                th:text="${us.name + ' ' + us.surname} " class="ml-2  iconFont"></span></a>
                        </li>
                    </div>
                </div>
                <div class="iconHover">
                    <li class="mt-3"><a href="/homePage"><i class="fas fa-columns iGreen"></i> <span
                            class="ml-1 iconFont">News Feed</span></a>
                    </li>
                </div>
                <div class="iconHover">
                    <li class="mt-1"><a href="/"><i class="fab fa-facebook-messenger iGreen"> </i> <span
                            class="ml-2 iconFont">messenger</span></a></li>
                </div>
            </ul>
        </div>

        <div class="mt-3">
            <h4 class="iconFontInteresting">Explore</h4>
            <ul>
                <li class="mt-1"><a class="iconHover" href="/"><i class="fas fa-ribbon iGreen"></i> <span
                        class="ml-1 iconFont">News Feed</span></a>
                </li>
                <li class="mt-1"><a class="iconHover" href="/"><i class="fas fa-calendar iGreen"></i> <span
                        class="ml-1 iconFont">Events</span></a></li>
                <li class="mt-1"><a class="iconHover" href="/"><i class="fas fa-flag iGreen"> </i> <span
                        class="ml-2 iconFont">Pages</span></a></li>
                <li class="mt-1"><a class="iconHover" href="/"><i class="fas fa-users iGreen"></i> </i> <span
                        class="ml-2 iconFont">Groups</span></a></li>
                <li class="mt-1"><a class="iconHover" href="/"><i class="fas fa-sun iGreen"> </i> <span
                        class="ml-2 iconFont">Weather</span></a></li>

            </ul>
        </div>
    </div>

    <div class="d-flex sideNavTwo">
        <div class=" naveOne  col-md-7">
            <form action="/post/addPost" method="post" enctype="multipart/form-data">
                <div class="addPost mt-2 borderRounded border bg-light">
                    <div class="description mt-2 d-flex justify-content-center w-100"><i
                            class="fas iGreen fa-pencil-alt"></i><span class="ml-2 mb-2">Compose Post</span></div>
                    <div class="d-flex addTitle">
                        <div class="d-flex justify-content-center align-items-center w-25">
                            <div th:if="${us.pic_url != null}">
                                <img class="titlePic border-50"
                                     th:src="@{'/post/userImage?'(picUrl=${us.getPic_url()})}">
                            </div>
                            <div th:if="${us.pic_url == null}">
                                <img class="titlePic border-50" src="/user.png">
                            </div>
                        </div>
                        <div class="d-flex justify-content-center align-items-center w-75">
                        <textarea placeholder="что у вас нового?" class="bg-light" name="name" rows="2" cols="40">

                        </textarea>
                        </div>
                    </div>
                    <div class="addImage d-flex mt-2">
                        <input type="hidden" name="user_id" th:value="${us.id}">
                        <input type="file" name="image" class="btn m-1 btn-success w-50">
                        <input type="submit" class="btn m-1 btn-outline-success w-50">
                    </div>

                </div>
            </form>

            <div class="post mt-2 borderRounded border bg-light" th:if="${posts !=null}" th:each="post : ${posts}">
                <div class="postUser m-2 d-flex justify-content-between">
                    <div th:if="${post.user.pic_url != null}">
                        <a href="#"><img th:src="@{'/post/userImage?'(picUrl=${post.user.getPic_url()})}"> <span
                                th:text="${post.user.name}+${post.user.surname} " class="iconFontBar"></span> </a>
                    </div>
                    <div th:if="${post.user.pic_url == null}">
                        <a href="#"><img src="/user.png"> <span
                                th:text="${post.user.name}+${post.user.surname} " class="iconFontBar"></span> </a>
                    </div>
                    <p class="dateFont" th:text="'Date'+ ' '+ ${post.date}"><i class="far iGreen fa-clock"></i></p>

                </div>
                <div class="postTitle m-2">
                    <span th:text="${post.name}"></span>
                </div>
                <div class="postPic mt-2 w-100">
                    <img class="w-100" th:src="@{'/post/userImage?'(picUrl=${post.getPic_url()})}">
                </div>
                <div class="postLike mt-2">
                    <a href="/"><i class="ml-3 fas fa-thumbs-up"></i><span class="ml-1">152</span></a>
                </div>
                <div class="d-flex postHr justify-content-center">
                    <hr/>
                </div>
                <div class="postComment d-flex">
                    <a class="w-50 m-1"><i class="far iGreen fa-thumbs-up"></i><span
                            class="ml-1 ">Like</span></a>
                    <a class="w-50 m-1"><i class="far iGreen fa-comments"></i><span class="ml-1 ">Comment</span></a>
                </div>
                <div class="d-flex postHr justify-content-center">
                    <hr/>
                </div>
                <div class="panel w-100 mt-2 ">
                    <div class="d-flex  align-items-center mt-3" th:each="commentts : ${post.comments}">
                        <div  th:if="${commentts.user.pic_url != null}">
                            <div style="display: flex"><img style="width:50px; height: 50px; border-radius: 50%" th:src="@{'/user/adImage?'(pic_url=${commentts.user.pic_url})}"> </div>
                        </div>
                        <div th:if="${commentts.user.pic_url == null}">
                            <div style="display: flex"><img style="width:50px; height: 50px; border-radius: 50%" src="/user.png"></div>
                        </div>
                        <div class="ml-3" th:text="${commentts.comment}"></div>
                    </div>
                </div>
                <form class="d-flex" action="/addComment" method="post" style="margin-top: 10px">
                    <input class="w-100 btn btn-outline-success" type="text" name="comment"
                           placeholder="Write Comment">
                    <input type="hidden" name="post_id" th:value="${post.id}"/>
                    <input type="hidden" name="user_id" th:value="${us.id}">
                    <input type="submit" class="btn btn-outline-success" value="Add">
                </form>
            </div>
            <div class="borderMessage sideNavThree">
                <div>
                    <div class="d-flex messagePosition iconHover">
                        <ul class="d-flex m-2">
                            <li class="d-flex"><img class="userPicMessage" src="/user.png"><span
                                    class="ml-3 mt-1">User</span>
                                <span class="ml-2 mt-1">User</span></li>
                        </ul>
                    </div>
                </div>
                <div>

                </div>
            </div>

        </div>
        <div class=" bg-light borderRounded naveTwo border col-md-4 ml-2">33333333</div>
    </div>
</body>
</html>