<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Jua|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>GreenBook</title>
    </head>
<body>
<div class="logBar ">
    <div class="menuBar d-flex justify-content-between">
        <div ><p class="GFBIcon">GreenBook</p></div>
        <div >
            <form th:action="@{/}"  method="post">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column">
                        <label class="emailFont ml-2">Email or Phone</label>
                        <input class="border border-success rounded " type="email"
                               name="email"/>
                    </div>
                    <div class="d-flex flex-column ml-5">
                        <label class="emailFont ml-3">Password</label>
                        <input class="  ml-2 border border-success rounded  "
                               type="password"
                               name="password"/>
                    </div>
                    <input type="submit" value="Log in" class="login  ml-3 mt-4 btn btn-success">
                </div>
            </form>
        </div>
    </div>
</div>
<div class=" mainContent ">
    <div class="main">
        <div class="d-flex">
            <div class="w-50 mt-5 mr-4">
                <p class="GFBFont">
                    Connect with friends and the
                    world around you on GreenFB.
                </p>
                <img class="w-100 indexImg" src="/099etSefEv-.png">
            </div>
            <div class="w-50">
                <div class="mt-5">
                    <div class="regFont">Create a New Account</div>
                    <div class="regFontSmall">It’s free and always will be.</div>
                </div>
                <div class="mt-4" th:if="${reg!=null}">
                    <span class="iGreen" th:text="${'You have registered !!!'}"></span>
                </div>
                <div class="mt-4" th:if="${errMessage!=null}">
                    <span class="iRed" th:text="'user already registered!'"></span>
                </div>
                <form class="d-flex mt-2 mb-4 flex-column" action="/user/add" method="post" enctype="multipart/form-data">
                    <div class="d-flex justify-content-between">
                        <input placeholder="Name" class="  inputFont border border-success rounded " type="text"
                               name="name"/>
                        <input placeholder="Surname" class="  inputFont ml-2 border border-success rounded  "
                               type="text"
                               name="surname"/>
                    </div>
                    <input placeholder="Email address or Phone number"
                           class=" inputFont mt-2 border border-success rounded " type="email"
                           name="email"/>
                    <input placeholder="New password" class=" inputFont mt-2 border border-success rounded "
                           type="password"
                           name="password"/>
                    <span class="inputFont mt-2">Date of birth</span>
                    <input type="date" name="date" class="inputFont w-50  border border-success rounded ">
                    <div class="d-flex w-50 mt-3 justify-content-center align-items-center regFontSmall ">
                        <input class=" ml-2" type="radio" name="gender" value="MALE">
                        <label class="mt-2 ml-2">Male</label>
                        <input class=" ml-2" type="radio" name="gender" value="FEMALE">
                        <label class="mt-2 ml-2">Female</label>
                    </div>
                    <div class=" w-75">
                        <p class="emailFont mt-2">By clicking Sign Up, you agree to our Terms, Data Policy and Cookies Policy.
                            You may receive SMS Notifications from us and can opt out any time.</p></div>
                    <input type="submit" value="Sign Up" class="inputFont w-50 btn btn-success  border border-succes rounded ">
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>