<!doctype html>
<head>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Jua|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>GreenFB</title>
    </head>
<body>
<div class="logBar ">
    <div class="menuBar d-flex">
        <div class="ml-5 d-flex">
            <p class="GFBIcon">GreenFB</p>
            <div class="d-flex justify-content-end"><a  class="mt-4 regBtn" href="/">Регистрация</a>
            </div>
        </div>

    </div>
</div>
<div class="d-flex justify-content-center align-items-center container">

</div>
</body>
</html>