<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
</head>
<body>
<ul>
    <div th:each="userFriends: ${userFriends}">

        <div th:if="${userFriends.userStatus.toString()=='ONLINE'}">

            <div th:onclick="getFriendProfile(${userfriend.id});getMessages(${userfriend.id})">

                    <p th:text="${userFriends.name} +${userFriends.surname}"></p>
            </div>
        </div>
        <div th:if="${userFriends.userStatus.toString()=='OFFLINE'}">
            <li th:onclick="getFriendProfile(${userfriend.id});getMessages(${userfriend.id})">
                <p th:text="${userFriends.name}+ ${userFriends.surname}"></p>
        </div>
    </div>

</ul>

<div>
    <form action="/sendMessage" method="post" id="1111">
        <input type="text" id="8888" path="text" placeholder="Write your message..." name="text"/>
        <input path="fromId" th:value="${user.id}" type="hidden"/>

        <button type="submit"></button>

    </form>
</div>

<script src="../js/index.js"></script>

<script>
    var x;
    var currentFriendId;
    var id = ${friendIdForMessage.id};
    if (${friendIdForMessage.id!=""}) {

        getMessages(id);

    }

    // see messages the friend
    function getMessages(id) {
        currentFriendId = id;


        if (x) {
            clearInterval(x);
            inter(id);
            x = setInterval(function () {
                inter(id)
            }, 1000);
        }
        else {
            inter(id);
            x = setInterval(function () {
                inter(id)
            }, 1000);
        }
        getFriendProfile(id);
    }

    //contact-profile in message
    function getFriendProfile(id) {
        $.ajax({
            url: "getFriendProfileMessage?id2=" + id,
            success: function (result) {
                $(".contact-profile").html(result);
            }
        })

    }

    //   see messages the friend
    function inter(id) {
        $.ajax({
            url: "/getMessages?id=" + id,
            success: function (result) {
                $("#concatProfile").html(result);
            }
        })
    }


    //send message Ajax
    $("#1111").submit(function (e) {
        e.preventDefault();
        var fd = new FormData($("#1111")[0]);
        $.ajax({
            url: "/sendMessage",
            type: "POST",
            data: fd,
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            cache: false,
            success: function (result) {
                $("#concatProfile").html(result);
            }
        });
        document.getElementById("8888").value = "";
    });

</script>
</body>
</html>