<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
</head>
<body>
<div th:each="message: ${chat}">
    <div th:if="${message.fromId == user.id}">

        <span th:text="${message.text}"></span>
    </div>
    <div th:if="${message.fromId == user.id}">

        <span th:text="${message.text}"></span>
    </div>
</div>

<!--<div id="messageAjax">-->

    <!--// ajax message-->
<!--</div>-->
<!--<div>-->
    <!--<form class="messageInput" action="/sendMessage" method="post" id="1111">-->
        <!--<input type="text" class="btn btn-outline-success" id="8888" name="text"-->
               <!--placeholder="Write your message..." name="text"/>-->
        <!--<input name="toId" th:value="3" type="hidden"/>-->
        <!--<input type="submit" value="Send">-->

    <!--</form>-->
<!--</div>-->

</div>
</div>
</div>

<script>
    // var x;
    // var currentFriendId;
    // var id = ${friendIdForMessage.id};
    // if (${friendIdForMessage.id!=""}) {
    //
    //     getMessages(id);
    //     // getFriendProfile(id.id);
    //
    // }






</script>
</body>
</html>