<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Jua|Varela+Round" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/styleMessage.css"/>
    <title>Message</title>
</head>
<body>
<div class="container app">
    <div class="row app-one">
        <div class="col-sm-4 side">
            <div class="side-one">
                <div class="heading d-flex justify-content-between">
                    <div class="G"><a href="/homePage"><i class="fab fa-gofore"></i></a></div>

                    <a href="/userPage">
                        <div class="d-flex ml-3 heading-avatar ">

                            <div class="heading-avatar-icon d-flex align-items-center">
                                <img th:src="@{'/post/userImage?'(picUrl=${user.pic_url})}">
                                <p class="iBlue mt-3 ml-3" th:text="${user.name + ' ' + user.surname} "></p>
                            </div>

                        </div>
                    </a>

                    <div class="heading-compose  pull-right">
                        <i class="fa fa-comments fa-2x  pull-right ml-5"></i>
                    </div>
                </div>
                <div id="chat" class="row sideBar">
                    <div th:if="${userMessages!=null}">
                        <div class="height" th:each="users : ${userMessages}">
                            <a th:href="@{'/message/'+${users.to.id}}">
                                <div class="">
                                    <div class="d-flex  iconHover">
                                        <ul class="d-flex m-2">
                                            <li class="d-flex">
                                                <div th:if="${users.to.pic_url != null}">
                                                    <img class="userPicMessage"
                                                         th:src="@{'/post/userImage?'(picUrl=${users.to.pic_url})}">
                                                </div>
                                                <div th:if="${users.to.pic_url == null}">
                                                    <img class="userPicMessage " src="/user.png">
                                                </div>
                                                <p th:text="${users.to.name}" class="ml-3 iBlue mt-1">User</p>
                                                <p th:text="${users.to.surname}" class="ml-2 iBlue mt-1">User</p>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>

                    <div th:if="${userMessages==null}">
                        <span class="iBlack">No Messages</span>
                    </div>
                </div>
            </div>

            <div class="side-two">
                <div class="row newMessage-heading">
                    <div class="row newMessage-main">
                        <div class="col-sm-2 col-xs-2 newMessage-back">
                            <i class="fa fa-arrow-left pull-right iBlack"></i>
                        </div>
                        <div class="col-sm-10 col-xs-10 iBlack newMessage-title">
                            New Chat
                        </div>
                    </div>
                </div>

                <div class="row compose-sideBar">
                    <div class="height" th:each="users : ${users}">
                        <a th:href="@{'/message/'+${users.id}}">
                            <div class="height">
                                <div class="d-flex height iconHover">
                                    <ul class="d-flex m-2">
                                        <li class="d-flex">
                                            <div class="height" th:if="${users.pic_url != null}">
                                                <img class="userPicMessage"
                                                     th:src="@{'/post/userImage?'(picUrl=${users.pic_url})}">
                                            </div>
                                            <div class="height" th:if="${users.pic_url == null}">
                                                <img class="userPicMessage " src="/user.png">
                                            </div>

                                            <p th:text="${users.name}" class="ml-3 iBlue mt-1"></p>
                                            <p th:text="${users.surname}" class="ml-2 iBlue mt-1"></p>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-8 conversation">
            <a href="#">
                <div class="row heading d-lex align-items-center">

                    <div class="col-sm-2 col-md-1 col-xs-3  heading-avatar">
                        <div class="heading-avatar-icon">
                            <img th:src="@{'/post/userImage?'(picUrl=${messageUser.pic_url})}">

                        </div>
                    </div>
                    <div class="col-sm-8 col-xs-7 heading-name ">
                        <p class="iBlue mt-2" th:text="${messageUser.name +' '+ messageUser.surname}">
                        </p>
                    </div>

                </div>
            </a>
            <div class="row message-body">
                <div class="col-sm-12 message-main-receiver">
                    <div class="receiver">
                        <div class="message-text">

                            Hi, what are you doing?!
                        </div>
                        <span class="message-time pull-right">
                Sun
              </span>
                    </div>
                </div>
            </div>

            <div class="row message-body">
                <div class="col-sm-12 message-main-sender">
                    <div class="sender">
                        <div class="message-text">
                            I am doing nothing man!
                        </div>
                        <span class="message-time pull-right">
                Sun

              </span>
                    </div>
                </div>
            </div>
            <div>
                <form class="messageInput d-flex" action="/sendMessage" method="post" id="1111">
                    <input type="text" class="btn w-100j btn-outline-success" id="8888"
                           placeholder="Write your message..." name="text"/>
                    <input name="toId" th:value="${user.id}" type="hidden"/>
                    <input type="submit" value="Send">
                </form>
            </div>
            <div id="messageAjax">

            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        $(".heading-compose").click(function () {
            $(".side-two").css({
                "left": "0"
            });
            $("#chat").css({
                "display": "none"
            })
        });

        $(".newMessage-back").click(function () {
            $(".side-two").css({
                "left": "-100%"
            });
            $("#chat").css({
                "display": "block"
            })
        });
    })

    //  see messages the friend
    function getMessages(id) {
        currentFriendId = id;
        if (x) {
            clearInterval(x);
            inter(id);
            x = setInterval(function () {
                inter(id)
            }, 1000);
        }
        else {
            inter(id);
            x = setInterval(function () {
                inter(id)
            }, 1000);
        }
        getFriendProfile(id);
    }
    function inter(id) {
        $.ajax({
            url: "/getMessages?id=" + id,
            success: function (result) {
                $("#messageAjax").html(result);
            }
        })
    }


    //contact-profile in message
    function getFriendProfile(id) {
        $.ajax({
            url: "getFriendProfileMessage?id =" + id,
            success: function (result) {
                $(".contact-profile").html(result);
            }
        })

    }
    //send message Ajax
    $("#1111").submit(function (e) {
        e.preventDefault();
        var fd = new FormData($("#1111")[0]);
        $.ajax({
            url: "/sendMessage",
            type: "POST",
            data: fd,
            cache: false,
            success: function (result) {
                $("#messageAjax").html(result);
            }
        });
        document.getElementById("8888").value = "";
    });
</script>

</html>
