<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jua|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title th:text="${us.name + ' '+ us.surname}"></title>
</head>
<script>
    $(document).ready(function () {
        $("#setName").click(function () {
            $("#setName1").toggle();
            $("#setCovPic1").css({"display":"none"});
            $("#setPic1").css({"display":"none"});
            $("#setEmail1").css({"display":"none"});
            $("#setPass1").css({"display":"none"});
        });
    });
    $(document).ready(function () {
        $("#setPass").click(function () {
            $("#setPass1").toggle();
            $("#setCovPic1").css({"display":"none"});
            $("#setName1").css({"display":"none"});
            $("#setPic1").css({"display":"none"});
            $("#setEmail1").css({"display":"none"});
        });
    });
    $(document).ready(function () {
        $("#setEmail").click(function () {
            $("#setEmail1").toggle();
            $("#setCovPic1").css({"display":"none"});
            $("#setPic1").css({"display":"none"});
            $("#setName1").css({"display":"none"});
            $("#setPass1").css({"display":"none"});
        });
    });
    $(document).ready(function () {
        $("#setPic").click(function () {
            $("#setPic1").toggle();
            $("#setCovPic1").css({"display":"none"});
            $("#setEmail1").css({"display":"none"});
            $("#setName1").css({"display":"none"});
            $("#setPass1").css({"display":"none"});
        });
    });
    $(document).ready(function () {
        $("#setCovPic").click(function () {
            $("#setCovPic1").toggle();
            $("#setPic1").css({"display":"none"});
            $("#setEmail1").css({"display":"none"});
            $("#setName1").css({"display":"none"});
            $("#setPass1").css({"display":"none"});
        });
    });
</script>
<body>
<div class="navBar">
    <div class="navBarMin  d-flex">
        <div class="input-group d-flex  w-50">
            <div class="G"><a href="/homePage"><i class="fab fa-gofore"></i></a></div>
            <input type="text" class="search w-75" placeholder="Search">
            <div class="input-group-append">
                <a href="/">
                    <button class="search" type="button"><i class="fas fa-search"></i></button>
                </a>
            </div>
        </div>
        <div class="w-50 ml-4 d-flex ">
            <ul class="d-flex mt-2 barIcons">
                <div class="iconHover" th:if="${us.pic_url != null}">
                    <li><a href="/userPage"><img class="userPicBar m-1 border border-light"
                                                 th:src="@{'/post/userImage?'(picUrl=${us.getPic_url()})}" alt=""> <span
                            class=" iconFontBar" th:text="${us.name + ' ' + us.surname}"></span></a>
                    </li>
                </div>
                <div class="iconHover" th:if="${us.pic_url == null}">
                    <li><a href="/userPage"><img class="userPicBar m-1 border border-light" src="/user.png" alt="">
                        <span
                                class=" iconFontBar" th:text="${us.name + ' ' + us.surname}"></span></a>
                    </li>
                </div>
                <div class="iconHover">
                    <li class="ml-2"><a href="/homePage"><span class="iconFontBar">General</span></a></li>
                </div>
                <div class="">
                    <li class="ml-2">
                        <div class="dropdown4">
                            <i onclick="myFunction4()" class=" dropbtn4 fab fa-facebook-messenger iWhite"></i>
                            <div id="myDropdown4" class="dropdown-content4">
                                <div th:if="${userMessages!=null}">
                                    <div th:each="users : ${userMessages}">
                                        <a th:href="@{'/message/'+${users.to.id}}">
                                            <div>
                                                <div class="d-flex  iconHover">
                                                    <ul class="d-flex m-2">
                                                        <li class="d-flex">
                                                            <div th:if="${users.to.pic_url != null}">
                                                                <img class="userPicMessage"
                                                                     th:src="@{'/post/userImage?'(picUrl=${users.to.getPic_url()})}">
                                                            </div>
                                                            <div th:if="${users.to.pic_url == null}">
                                                                <img class="userPicMessage " src="/user.png">
                                                            </div>


                                                            <span th:text="${users.to.name}"
                                                                  class="ml-3 mt-1">User</span>
                                                            <span th:text="${users.to.surname}"
                                                                  class="ml-2 mt-1">User</span>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div th:if="${userMessages==null}">
                                    <p class="iBlack">No Messages</p>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="">
                    <li class="ml-2">
                        <div class="dropdown3">
                            <i onclick="myFunction3()" class=" dropbtn3 fas fa-user-friends iWhite"></i>
                            <div id="myDropdown3" class="dropdown-content3">
                                <a href="#home">Home</a>
                                <a href="#about">About</a>
                                <a href="/logout">logout</a>
                            </div>
                        </div>
                </div>
                <div class="">
                    <li class="ml-2">
                        <div class="dropdown2">
                            <i onclick="myFunction2()" class=" dropbtn2  far fa-bell iWhite"></i>

                            <div id="myDropdown2" class="dropdown-content2">
                                <a href="#home">Home</a>
                                <a href="">About</a>
                                <a href="/logout">logout</a>
                            </div>
                        </div>
                    </li>
                </div>

            </ul>
            <div class="ml-2 mt-1 ">
                <div class="dropdown">
                    <i onclick="myFunction()" class="fas iWhite dropbtn fa-caret-down"></i>

                    <div id="myDropdown" class="dropdown-content">
                        <a href="/homePage">Home</a>
                        <a href="/settings">Settings</a>
                        <a href="/logout">logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex">
    <div class=" sideNav">
        <div>
            <ul>
                <div class="iconHover">
                    <div th:if="${us.pic_url != null}">
                        <li><a href="/userPage"><img class="userPic m-1"
                                                     th:src="@{'/post/userImage?'(picUrl=${us.getPic_url()})}"> <span
                                th:text="${us.name + ' ' + us.surname} " class="ml-2  iconFont"></span></a>
                        </li>
                    </div>
                    <div th:if="${us.pic_url == null}">
                        <li><a href="/userPage"><img class="userPic m-1"
                                                     src="/user.png"> <span
                                th:text="${us.name + ' ' + us.surname} " class="ml-2  iconFont"></span></a>
                        </li>
                    </div>
                </div>
                <div class="iconHover">
                    <li class="mt-3"><a href="/homePage"><i class="fas fa-columns iGreen"></i> <span
                            class="ml-1 iconFont">News Feed</span></a>
                    </li>
                </div>
                <div class="iconHover">
                    <li class="mt-1"><a href="/"><i class="fab fa-facebook-messenger iGreen"> </i> <span
                            class="ml-2 iconFont">messenger</span></a></li>
                </div>
            </ul>
        </div>
        <div class="mt-3">
            <h4 class="iconFontInteresting">Explore</h4>
            <ul>
                <li class="mt-1"><a class="iconHover" href="/"><i class="fas fa-ribbon iGreen"></i> <span
                        class="ml-1 iconFont">News Feed</span></a>
                </li>
                <li class="mt-1"><a class="iconHover" href="/"><i class="fas fa-calendar iGreen"></i> <span
                        class="ml-1 iconFont">Events</span></a></li>
                <li class="mt-1"><a class="iconHover" href="/"><i class="fas fa-flag iGreen"> </i> <span
                        class="ml-2 iconFont">Pages</span></a></li>
                <li class="mt-1"><a class="iconHover" href="/"><i class="fas fa-users iGreen"></i> </i> <span
                        class="ml-2 iconFont">Groups</span></a></li>
                <li class="mt-1"><a class="iconHover" href="/"><i class="fas fa-sun iGreen"> </i> <span
                        class="ml-2 iconFont">Weather</span></a></li>
            </ul>
        </div>
    </div>
    <div class=" mt-5 bg-light sideNavTwo">
        <div>
            <span class="text-success settingsFont m-3">Settings</span>
        </div>
        <div class="m-5 w-75">
            <div class="mt-3">
                <div class="d-flex justify-content-between">
                    <span class="iGreen">Name Surname</span>
                    <div><span th:text="${us.name + ' '+ us.surname}"> </span>
                        <a id="setName"><i class="far fa-edit iBlack ml-3"></i></a>
                    </div>
                </div>
                <div class="d-flex border-bottom mt-2 justify-content-center">
                    <form id="setName1" class=" mb-2 w-50" action="/setName" method="post">
                        <input placeholder="Input Name" type="text" name="name"
                               class="btn mt-1 w-100 btn-outline-success">
                        <input placeholder="Input Surname" type="text" name="surname"
                               class="btn mt-1 w-100 btn-outline-success">
                        <input type="hidden" name="user_id" th:value="${us.id}" class="btn btn-outline-success">
                        <br>
                        <input type="submit" value="Change" class="btn w-100 mt-1 btn-success">
                    </form>
                </div>
            </div>
            <div class="mt-3">
                <div class="d-flex justify-content-between">
                    <span class="iGreen">Email</span>
                    <div><span th:text="${us.email}"> </span>
                        <a id="setEmail"><i class="far fa-edit iBlack ml-3"></i></a>
                    </div>
                </div>
                <div class="d-flex border-bottom mt-2 justify-content-center">
                    <form id="setEmail1" class=" mb-2 w-50" action="/setEmail" method="post">
                        <input placeholder="Input Email" type="email" name="email"
                               class="btn mt-1 w-100 btn-outline-success">
                        <input type="hidden" name="user_id" th:value="${us.id}" class="btn btn-outline-success">
                        <br>
                        <input type="submit" value="Change" class="btn w-100 mt-1 btn-success">
                    </form>
                </div>
            </div>
            <div class="mt-3">
                <div class="d-flex justify-content-between">
                    <span class="iGreen">Password</span>
                    <div><span th:text="${us.name + ' '+ us.surname}"> </span>
                        <a id="setPass"><i class="far fa-edit iBlack ml-3"></i></a>
                    </div>
                </div>
                <div class="d-flex border-bottom mt-2 justify-content-center">
                    <form id="setPass1" class=" mb-2 w-50" action="/setPass" method="post">
                        <input placeholder="Input Old Password" type="password" name="old_password"
                               class="btn mt-1 w-100 btn-outline-success">
                        <input type="hidden" name="user_id" th:value="${us.id}" class="btn btn-outline-success">
                        <input placeholder="Input New Password" type="password" name="password"
                               class="btn mt-1 w-100 btn-outline-success">
                        <br>
                        <input type="submit" value="Change" class="btn w-100 mt-1 btn-success">
                    </form>
                </div>
            </div>
            <div class="mt-3">
                <div class="d-flex justify-content-between">
                    <span class="iGreen">Profile Picture</span>
                    <div><span th:text="${us.name + ' '+ us.surname}"> </span>
                        <a id="setPic"><i class="far fa-edit iBlack ml-3"></i></a>
                    </div>
                </div>
                <div class="d-flex border-bottom mt-2 justify-content-center">
                    <form id="setPic1" class=" mb-2 w-50" action="/setPic" method="post">
                        <input  type="file" name="pic"
                               class="btn mt-1 w-100 btn-outline-success">
                        <input type="hidden" name="user_id" th:value="${us.id}" class="btn btn-outline-success">
                        <br>
                        <input type="submit" value="Change" class="btn w-100 mt-1 btn-success">
                    </form>
                </div>
            </div>
            <div class="mt-3">
                <div class="d-flex justify-content-between">
                    <span class="iGreen">Cover Picture</span>
                    <div><span th:text="${us.name + ' '+ us.surname}"> </span>
                        <a id="setCovPic"><i class="far fa-edit iBlack ml-3"></i></a>
                    </div>
                </div>
                <div class="d-flex border-bottom mt-2 justify-content-center">
                    <form id="setCovPic1" class=" mb-2 w-50" action="/setCovPic" method="post">
                        <input  type="file" name="cover_pic" class="btn mt-1 w-100 btn-outline-success">
                        <input type="hidden" name="user_id" th:value="${us.id}" class="btn btn-outline-success">
                        <br>
                        <input type="submit" value="Change" class="btn w-100 mt-1 btn-success">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="borderMessage sideNavThree">
    <div th:each="users : ${user}" class="d-flex  iconHover">
        <a th:href="@{'/friendsPage/' +${users.getId()}}">
            <ul class="d-flex m-2">
                <li class="d-flex">
                    <div th:if="${users.pic_url != null}">
                        <img class="userPicMessage"
                             th:src="@{'/post/userImage?'(picUrl=${users.pic_url})}">
                    </div>
                    <div th:if="${users.pic_url == null}">
                        <img class="userPicMessage " src="/user.png">
                    </div>
                    <span th:text="${users.name}" class="ml-3 iBlack mt-1"></span>
                    <span th:text="${users.surname}" class="ml-2 iBlack mt-1"></span></li>
            </ul>
        </a>
    </div>
</div>
<script src="/min.js"></script>
</body>
</html>