<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jua|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title th:text="${us.name+' '+us.surname}"></title>
</head>

<body>
<div class="navBar">
    <div class="navBarMin  d-flex">
        <div class="input-group d-flex  w-50">
            <div class="G"><a href="/homePage"><i class="fab fa-gofore"></i></a></div>
            <input type="text" class="search w-75" placeholder="Search">
            <div class="input-group-append">
                <a href="/">
                    <button class="search" type="button"><i class="fas fa-search"></i></button>
                </a>
            </div>
        </div>
        <div class="w-50 ml-4 d-flex ">
            <ul class="d-flex mt-2 barIcons">
                <div class="iconHover" th:if="${us.pic_url != null}">
                    <li><a href="/userPage"><img class="userPicBar m-1 border border-light"
                                                 th:src="@{'/post/userImage?'(picUrl=${us.getPic_url()})}" alt=""> <span
                            class=" iconFontBar" th:text="${us.name + ' ' + us.surname}"></span></a>
                    </li>
                </div>
                <div class="iconHover" th:if="${us.pic_url == null}">
                    <li><a href="/userPage"><img class="userPicBar m-1 border border-light" src="/user.png" alt="">
                        <span
                                class=" iconFontBar" th:text="${us.name + ' ' + us.surname}"></span></a>
                    </li>
                </div>
                <div class="iconHover">
                    <li class="ml-2"><a href="/homePage"><span class="iconFontBar">General</span></a></li>
                </div>
                <div class="">
                    <li class="ml-2">
                        <div class="dropdown4">
                            <i onclick="myFunction4()" class=" dropbtn4 fab fa-facebook-messenger iWhite"></i>
                            <div id="myDropdown4" class="dropdown-content4">
                                <div th:if="${userMessages!=null}">
                                    <div th:each="users : ${userMessages}">
                                        <a th:href="@{'/message/'+${users.to.id}}">
                                            <div>
                                                <div class="d-flex  iconHover">
                                                    <ul class="d-flex m-2">
                                                        <li class="d-flex">
                                                            <div th:if="${users.to.pic_url != null}">
                                                                <img class="userPicMessage"
                                                                     th:src="@{'/post/userImage?'(picUrl=${users.to.getPic_url()})}">
                                                            </div>
                                                            <div th:if="${users.to.pic_url == null}">
                                                                <img class="userPicMessage " src="/user.png">
                                                            </div>


                                                            <span th:text="${users.to.name}"
                                                                  class="ml-3 mt-1">User</span>
                                                            <span th:text="${users.to.surname}"
                                                                  class="ml-2 mt-1">User</span>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div th:if="${userMessages==null}">
                                    <p class="iBlack">No Messages</p>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="">
                    <li class="ml-2">
                        <div class="dropdown3">
                            <i onclick="myFunction3()" class=" dropbtn3 fas fa-user-friends iWhite"></i>
                            <div id="myDropdown3" class="dropdown-content3">
                                <a href="#home">Home</a>
                                <a href="#about">About</a>
                                <a href="/logout">logout</a>
                            </div>
                        </div>
                </div>
                <div class="">
                    <li class="ml-2">
                        <div class="dropdown2">
                            <i onclick="myFunction2()" class=" dropbtn2  far fa-bell iWhite"></i>

                            <div id="myDropdown2" class="dropdown-content2">
                                <a href="#home">Home</a>
                                <a href="">About</a>
                                <a href="/logout">logout</a>
                            </div>
                        </div>
                    </li>
                </div>

            </ul>
            <div class="ml-2 mt-1 ">
                <div class="dropdown">
                    <i onclick="myFunction()" class="fas iWhite dropbtn fa-caret-down"></i>

                    <div id="myDropdown" class="dropdown-content">
                        <a href="/homePage">Home</a>
                        <a href="/settings">Settings</a>
                        <a href="/logout">logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-column w-85 justify-content-center align-items-center">
    <div class="userProfile">
        <div th:if="${us.pic_url_cover == null}">
            <div class="addPic">
                <button onclick="document.getElementById('id03').style.display='block'"
                        class="btn btn-outline-success m-3 iBlack">Choose Cover Photo
                </button>
            </div>
            <div class="backgroundImg d-flex align-items-end">

                <div id="id03" class="modal">
                    <form class="modal-content animate d-flex justify-content-center align-items-center"
                          action="/user/addImageCover"
                          enctype="multipart/form-data"
                          method="post">
                            <span onclick="document.getElementById('id03').style.display='none'" class="close"
                                  title="Close Modal">&times;</span>

                        <input type="file" name="img" class="btn btn-outline-success mt-3 w-75">
                        <div class="container">
                            <button type="button" onclick="document.getElementById('id03').style.display='none'"
                                    class="btn btn-danger">Cancel
                            </button>
                            <input class="btn btn-success ml-3"
                                   onclick="document.getElementById('id03').style.display='none'" type="submit"
                                   value="Add"/>
                        </div>
                    </form>
                </div>
                <div class="profileBar"></div>
                <div th:if="${us.pic_url == null}">
                    <div class="profilePic" src="/user.png">
                        <div class="addPic">
                            <button onclick="document.getElementById('id01').style.display='block'"
                                    class="btn btn-outline-success iBlack">Choose Photo
                            </button>
                        </div>
                    </div>

                    <div id="id01" class="modal">
                        <form class="modal-content animate d-flex justify-content-center align-items-center"
                              action="/user/addImage" enctype="multipart/form-data"
                              method="post">
                            <span onclick="document.getElementById('id01').style.display='none'" class="close"
                                  title="Close Modal">&times;</span>

                            <input type="file" name="image" class="btn btn-outline-success mt-3 w-75">
                            <div class="container">
                                <button type="button" onclick="document.getElementById('id01').style.display='none'"
                                        class="btn btn-danger">Cancel
                                </button>
                                <input class="btn btn-success ml-3"
                                       onclick="document.getElementById('id01').style.display='none'" type="submit"
                                       value="Add"/>
                            </div>
                        </form>
                    </div>
                </div>
                <div th:if="${us.pic_url != null}">
                    <img class="profilePic" th:src="@{'/post/userImage?'(picUrl=${us.pic_url})}">
                </div>
                <div class="profileToolBar ">
                    <ul class="d-flex ml-5">
                        <li><a th:href="@{'/friendsPage/'+${us.id}}">Information</a></li>
                        <li><a th:href="@{'/userPhotos/'+${us.id}}">Photos</a></li>
                        <li><a th:href="@{'/userFriends/'+${us.id}}">Friends</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div th:if="${us.pic_url_cover != null}">
            <div th:style="'background:url(' +  @{'/post/userImage?'(picUrl=${us.pic_url_cover})} + ');background-repeat: no-repeat;background-size: cover;'"
                 class="backgroundImgExists d-flex align-items-end">

                <div class="profileBar"></div>
                <div th:if="${us.pic_url == null}" style="display:flex;align-items: center;justify-content: center">
                    <img class="profilePic" src="/user.png">
                    <div class="addPic">
                        <button onclick="document.getElementById('id02').style.display='block'"
                                class="btn btn-outline-success m-3 iBlack">Choose Cover Photo
                        </button>
                    </div>
                    <div id="id02" class="modal">
                        <form class="modal-content animate d-flex justify-content-center align-items-center"
                              action="/user/addImage" enctype="multipart/form-data"
                              method="post">
                            <span onclick="document.getElementById('id02').style.display='none'" class="close"
                                  title="Close Modal">&times;</span>

                            <input type="file" name="image" class="btn mt-3 btn-outline-success w-75">
                            <div class="container">
                                <button type="button" onclick="document.getElementById('id02').style.display='none'"
                                        class="btn btn-danger">Cancel
                                </button>
                                <input class="btn  btn-success ml-3"
                                       onclick="document.getElementById('id02').style.display='none'" type="submit"
                                       value="Add"/>
                            </div>
                        </form>
                    </div>
                </div>
                <div th:if="${us.pic_url != null}">
                    <div class="profilePic"
                         th:style="'background:url(' + @{'/post/userImage?'(picUrl=${us.pic_url})} + ');background-repeat: no-repeat;background-size: cover;'">
                    </div>
                </div>
                <div class="profileToolBar d-flex ">
                    <ul class="d-flex ml-5">
                        <li><a th:href="@{'/friendsPage/'+${us.id}}">Information</a></li>
                        <li><a th:href="@{'/userPhotos/'+${us.id}}">Photos</a></li>
                        <li><a th:href="@{'/userFriends/'+${us.id}}">Friends</a></li>
                    </ul>


                </div>

            </div>

        </div>
        <div class="userPost bg-light">
            <div class="tc"><span class="GFBFont  mt-2">Add Photos</span></div>
            <div class="mt-4">
                <form action="addUserPhotos" method="post">
                    <input type="file" name="image" class="btn btn-success">
                    <input type="submit" value="Add Picture" class="btn btn-success">
                </form>
            </div>
            <div class="tc"><span class="GFBFont  mt-2">Photos</span></div>
            <div>
                <div class="m-2 border border-success userPhotos"
                     th:style="'background:url(' +  @{'/post/userImage?'(picUrl=${us.pic_url_cover})} + ');background-repeat: no-repeat;background-size: cover;'"></div>
                <div class="m-2 border border-success userPhotos"
                     th:style="'background:url(' +  @{'/post/userImage?'(picUrl=${us.pic_url_cover})} + ');background-repeat: no-repeat;background-size: cover;'"></div>
                <div class="m-2 border border-success userPhotos"
                     th:style="'background:url(' +  @{'/post/userImage?'(picUrl=${us.pic_url_cover})} + ');background-repeat: no-repeat;background-size: cover;'"></div>
                <div class="m-2 border border-success userPhotos"
                     th:style="'background:url(' +  @{'/post/userImage?'(picUrl=${us.pic_url_cover})} + ');background-repeat: no-repeat;background-size: cover;'"></div>
                <div class="m-2 border border-success userPhotos"
                     th:style="'background:url(' +  @{'/post/userImage?'(picUrl=${us.pic_url_cover})} + ');background-repeat: no-repeat;background-size: cover;'"></div>
                <div class="m-2 border border-success userPhotos"
                     th:style="'background:url(' +  @{'/post/userImage?'(picUrl=${us.pic_url_cover})} + ');background-repeat: no-repeat;background-size: cover;'"></div>
                <div class="m-2 border border-success userPhotos"
                     th:style="'background:url(' +  @{'/post/userImage?'(picUrl=${us.pic_url_cover})} + ');background-repeat: no-repeat;background-size: cover;'"></div>
                <div class="m-2 border border-success userPhotos"
                     th:style="'background:url(' +  @{'/post/userImage?'(picUrl=${us.pic_url_cover})} + ');background-repeat: no-repeat;background-size: cover;'"></div>
                <div class="m-2 border border-success userPhotos"
                     th:style="'background:url(' +  @{'/post/userImage?'(picUrl=${us.pic_url_cover})} + ');background-repeat: no-repeat;background-size: cover;'"></div>
                <div class="m-2 border border-success userPhotos"
                     th:style="'background:url(' +  @{'/post/userImage?'(picUrl=${us.pic_url_cover})} + ');background-repeat: no-repeat;background-size: cover;'"></div>
                <div class="m-2 border border-success userPhotos"
                     th:style="'background:url(' +  @{'/post/userImage?'(picUrl=${us.pic_url_cover})} + ');background-repeat: no-repeat;background-size: cover;'"></div>
                <div class="m-2 border border-success userPhotos"
                     th:style="'background:url(' +  @{'/post/userImage?'(picUrl=${us.pic_url_cover})} + ');background-repeat: no-repeat;background-size: cover;'"></div>
                <div class="m-2 border border-success userPhotos"
                     th:style="'background:url(' +  @{'/post/userImage?'(picUrl=${us.pic_url_cover})} + ');background-repeat: no-repeat;background-size: cover;'"></div>
                <div class="m-2 border border-success userPhotos"
                     th:style="'background:url(' +  @{'/post/userImage?'(picUrl=${us.pic_url_cover})} + ');background-repeat: no-repeat;background-size: cover;'"></div>
                <div class="m-2 border border-success userPhotos"
                     th:style="'background:url(' +  @{'/post/userImage?'(picUrl=${us.pic_url_cover})} + ');background-repeat: no-repeat;background-size: cover;'"></div>
                <div class="m-2 border border-success userPhotos"
                     th:style="'background:url(' +  @{'/post/userImage?'(picUrl=${us.pic_url_cover})} + ');background-repeat: no-repeat;background-size: cover;'"></div>
                <div class="m-2 border border-success userPhotos"
                     th:style="'background:url(' +  @{'/post/userImage?'(picUrl=${us.pic_url_cover})} + ');background-repeat: no-repeat;background-size: cover;'"></div>
                <div class="m-2 border border-success userPhotos"
                     th:style="'background:url(' +  @{'/post/userImage?'(picUrl=${us.pic_url_cover})} + ');background-repeat: no-repeat;background-size: cover;'"></div>
                <div class="m-2 border border-success userPhotos"
                     th:style="'background:url(' +  @{'/post/userImage?'(picUrl=${us.pic_url_cover})} + ');background-repeat: no-repeat;background-size: cover;'"></div>
                <div class="m-2 border border-success userPhotos"
                     th:style="'background:url(' +  @{'/post/userImage?'(picUrl=${us.pic_url_cover})} + ');background-repeat: no-repeat;background-size: cover;'"></div>
                <div class="m-2 border border-success userPhotos"
                     th:style="'background:url(' +  @{'/post/userImage?'(picUrl=${us.pic_url_cover})} + ');background-repeat: no-repeat;background-size: cover;'"></div>
                <div class="m-2 border border-success userPhotos"
                     th:style="'background:url(' +  @{'/post/userImage?'(picUrl=${us.pic_url_cover})} + ');background-repeat: no-repeat;background-size: cover;'"></div>
            </div>
        </div>
    </div>
</div>
<div class="borderMessage sideNavThree">
    <div>
        <div th:each="users : ${user}" class="d-flex  iconHover">
            <a th:href="@{|/friendsPage/${users.id}|}">
                <ul class="d-flex m-2">
                    <li class="d-flex">
                        <div th:if="${users.pic_url != null}">
                            <img class="userPicMessage"
                                 th:src="@{'/post/userImage?'(picUrl=${users.pic_url})}">
                        </div>
                        <div th:if="${users.pic_url == null}">
                            <img class="userPicMessage " src="/user.png">
                        </div>
                        <span th:text="${users.name}" class="ml-3 iBlack mt-1"></span>
                        <span th:text="${users.surname}" class="ml-2 iBlack mt-1"></span></li>
                </ul>
            </a>
        </div>
    </div>
</div>
<script src="/min.js"></script>
</body>
</html>