<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jua|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>GreenFB</title>
</head>
<body>
<div class="navBar">
    <div class="navBarMin  d-flex">
        <div class="input-group d-flex  w-50">
            <div class="G"><a href="/homePage"><i class="fab fa-gofore"></i></a></div>
            <input type="text" class="search w-75" placeholder="Поиск">
            <div class="input-group-append">
                <a href="/">
                    <button class="search" type="button"><i class="fas fa-search"></i></button>
                </a>
            </div>
        </div>
        <div class="w-50 ml-4 d-flex ">
            <ul class="d-flex mt-2 barIcons">
                <div class="iconHover">
                    <li><a href="/"><img class="userPicBar m-1 border border-light" src="/user.png" alt=""> <span
                            class=" iconFontBar">user</span></a>
                    </li>
                </div>
                <div class="iconHover">
                    <li class="ml-2"><a href="/homePage"><span class="iconFontBar">Главная</span></a></li>
                </div>
                <div class="iconHover">
                    <li class="ml-2"><a href="/"><i class="fas fa-user-friends iWhite"></i></i></a></li>
                </div>
                <div class="iconHover">
                    <li class="ml-2"><a href="/"><i class="fab fa-facebook-messenger iWhite"> </i></a></li>
                </div>
                <div class="iconHover">
                    <li class="ml-2"><a href="/"><i class="far fa-bell iWhite"></i></a></li>
                </div>

            </ul>
            <ul class="mt-1 ">
                <div class="iconHover">
                    <li class="ml-2"><a href="/"><i class="fas fa-sort-down   iWhite"></i></a></li>
                </div>
            </ul>
        </div>
    </div>
</div>

<div class="d-flex sideNavTwo">
    <div class=" bg-light borderRounded naveTwo border col-md-4 ml-2">33333333</div>
    <div class=" naveOne  col-md-7">
        <form action="/post/addPost" method="post" enctype="multipart/form-data">
            <div class="addPost mt-2 borderRounded border bg-light">
                <div class="description m-2 w-100"><i class="fas iGreen fa-pencil-alt"></i><span>Сделать публикацию</span></div>
                <div class="d-flex addTitle">
                    <div class="d-flex justify-content-center align-items-center w-25">
                        <img class="titlePic" src="/user.png" alt="">
                    </div>
                    <div class="d-flex justify-content-center align-items-center w-75">
                        <textarea placeholder="что у вас нового?" class="bg-light" name="name" rows="2" cols="40">

                        </textarea>
                    </div>
                </div>
                <div class="addImage d-flex mt-2">
                    <input type="file" name="image" class="btn m-1 btn-success w-50">
                    <input type="submit" class="btn m-1 btn-outline-success w-50">
                </div>

            </div>
        </form>
        <div class="post mt-2 borderRounded border bg-light">
            <div class="postUser m-2 d-flex">
                <a href="/userPage"><img src="/user.png" alt=""> <span
                        class="iconFontBar">user user</span> </a>
            </div>
            <div class="postTitle m-2">
                <span> Keyt Upton</span>
            </div>
            <div class="postPic mt-2 w-100">
                <img class="w-100" src="/keyt-apton-10000x4840-keyt-apton-17362.jpg">
            </div>
            <div class="postLike mt-2">
                <a href="/"><i class="ml-3 fas fa-thumbs-up"></i><span class="ml-1">152</span></a>
            </div>
            <div class="d-flex postHr justify-content-center">
                <hr/>
            </div>
            <div class="postComment d-flex">
                <a class="w-50 m-1"><i class="far iGreen fa-thumbs-up"></i><span class="ml-1 ">Нравится</span></a>
                <a class="w-50 m-1"><i class="far iGreen fa-comments"></i><span class="ml-1 ">Комментарий</span></a>
            </div>
        </div>

    </div>
</div>


<div class="borderMessage sideNavThree">
    <div>
        <div class="d-flex messagePosition iconHover">
            <ul class="d-flex m-2">
                <li class="d-flex"><img class="userPicMessage" src="/user.png"><span class="ml-3 mt-1">User</span>
                    <span class="ml-2 mt-1">User</span></li>
            </ul>
        </div>
    </div>
    <div>

    </div>
</div>

</body>
</html>