<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jua|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title th:text="${us.name+' '+us.surname}"></title>
</head>

<body>
<div class="navBar">
    <div class="navBarMin  d-flex">
        <div class="input-group d-flex  w-50">
            <div class="G"><a href="/homePage"><i class="fab fa-gofore"></i></a></div>
            <form action="/search" method="get" class="input-group d-flex  w-50">
                <input type="text" name="text" class="search w-75" placeholder="Search">
                <div class="input-group-append">
                    <button class="search" type="submit"><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>
        <div class="w-50 ml-4 d-flex ">
            <ul class="d-flex mt-2 barIcons">
                <div class="iconHover" th:if="${us.pic_url != null}">
                    <li><a href="/userPage"><img class="userPicBar m-1 border border-light"
                                                 th:src="@{'/post/userImage?'(picUrl=${us.getPic_url()})}" alt=""> <span
                            class=" iconFontBar" th:text="${us.name + ' ' + us.surname}"></span></a>
                    </li>
                </div>
                <div class="iconHover" th:if="${us.pic_url == null}">
                    <li><a href="/userPage"><img class="userPicBar m-1 border border-light" src="/user.png" alt="">
                        <span
                                class=" iconFontBar" th:text="${us.name + ' ' + us.surname}"></span></a>
                    </li>
                </div>
                <div class="iconHover">
                    <li class="ml-2"><a href="/homePage"><span class="iconFontBar">General</span></a></li>
                </div>
                <div class="">
                    <li class="ml-2">
                        <div class="dropdown4">
                            <i onclick="myFunction4()" class=" dropbtn4 fab fa-facebook-messenger iWhite"></i>
                            <div id="myDropdown4" class="dropdown-content4">
                                <div th:if="${userMessages!=null}">
                                    <div th:each="users : ${userMessages}">
                                        <a th:href="@{'/message/'+${users.to.id}}">
                                            <div>
                                                <div class="d-flex  iconHover">
                                                    <ul class="d-flex m-2">
                                                        <li class="d-flex">
                                                            <div th:if="${users.to.pic_url != null}">
                                                                <img class="userPicMessage"
                                                                     th:src="@{'/post/userImage?'(picUrl=${users.to.getPic_url()})}">
                                                            </div>
                                                            <div th:if="${users.to.pic_url == null}">
                                                                <img class="userPicMessage " src="/user.png">
                                                            </div>


                                                            <span th:text="${users.to.name}"
                                                                  class="ml-3 mt-1">User</span>
                                                            <span th:text="${users.to.surname}"
                                                                  class="ml-2 mt-1">User</span>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div th:if="${userMessages==null}">
                                    <p class="iBlack">No Messages</p>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="">
                    <li class="ml-2">
                        <div class="dropdown3">
                            <i onclick="myFunction3()" class=" dropbtn3 fas fa-user-friends iWhite"></i>
                            <div id="myDropdown3" class="dropdown-content3">
                                <div th:if="${requests!=null}">
                                    <div th:each="req : ${requests}">
                                        <ul class="d-flex m-2 border-bottom border-success">
                                            <li class="d-flex mb-2">
                                                <div th:if="${req.from.pic_url != null}">
                                                    <img class="userPicMessage"
                                                         th:src="@{'/post/userImage?'(picUrl=${req.from.pic_url})}">
                                                </div>
                                                <div th:if="${req.from.pic_url == null}">
                                                    <img class="userPicMessage " src="/user.png">
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <div class="d-flex">
                                                        <span th:text="${req.from.name}" class="ml-3 iBlack"></span>
                                                        <span th:text="${req.from.surname}" class="ml-2 iBlack"></span>
                                                    </div>
                                                    <div class="d-flex ml-2">
                                                        <a th:href="@{'/acceptRequest/'+${req.from.id}+'/'+${req.id}}"><span
                                                                class="accept">Accept</span></a>
                                                        <a th:href="@{'/rejectRequest/'+${req.id}}"><span
                                                                class="reject">Reject</span></a>
                                                    </div>

                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div th:if="${requests==null}">
                                    <p class="iBlack mt-3">No Requests</p>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="">
                    <li class="ml-2">
                        <div class="dropdown2">
                            <i onclick="myFunction2()" class=" dropbtn2  far fa-bell iWhite"></i>

                            <div id="myDropdown2" class="dropdown-content2">
                                <div th:if="${notifications!=null}">
                                    <div th:each="notification : ${notifications}">
                                        <div th:if="${notification.getNotStatus().name()=='LIKE'}">
                                            <p class="iBlack m-2"><span
                                                    th:text="${notification.from.name}+' '+${notification.from.surname}"></span>
                                                Liked your post </p>
                                        </div>
                                        <div th:if="${notification.getNotStatus().name()=='COMMENT'}">
                                            <p class="iBlack m-2"><span
                                                    th:text="${notification.from.name}+' '+${notification.from.surname}"></span>
                                                Commented your post</p>
                                        </div>
                                    </div>
                                </div>
                                <div th:if="${notifications==null}">
                                    <p class="iBlack mt-3">No Notifications</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>

            </ul>
            <div class="ml-2 mt-1 ">
                <div class="dropdown">
                    <i onclick="myFunction()" class="fas iWhite dropbtn fa-caret-down"></i>

                    <div id="myDropdown" class="dropdown-content">
                        <a href="/homePage">Home</a>
                        <a href="/settings">Settings</a>
                        <a href="/logout">logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column w-85 justify-content-center align-items-center">
    <div class="userProfile">
        <div th:if="${us.pic_url_cover == null}">
            <div class="addPic">
                <button onclick="document.getElementById('id03').style.display='block'"
                        class="btn btn-outline-success m-3 iBlack">Choose Cover Photo
                </button>
            </div>
            <div class="backgroundImg d-flex align-items-end">

                <div id="id03" class="modal">
                    <form class="modal-content animate d-flex justify-content-center align-items-center"
                          action="/user/addImageCover"
                          enctype="multipart/form-data"
                          method="post">
                            <span onclick="document.getElementById('id03').style.display='none'" class="close"
                                  title="Close Modal">&times;</span>

                        <input type="file" name="img" class="btn btn-outline-success mt-3 w-75">
                        <div class="container">
                            <button type="button" onclick="document.getElementById('id03').style.display='none'"
                                    class="btn btn-danger">Cancel
                            </button>
                            <input class="btn btn-success ml-3"
                                   onclick="document.getElementById('id03').style.display='none'" type="submit"
                                   value="Add"/>
                        </div>
                    </form>
                </div>
                <div class="profileBar"></div>
                <div th:if="${us.pic_url == null}">
                    <div class="profilePic" src="/user.png">
                        <div class="addPic">
                            <button onclick="document.getElementById('id01').style.display='block'"
                                    class="btn btn-outline-success iBlack">Choose Photo
                            </button>
                        </div>
                    </div>

                    <div id="id01" class="modal">
                        <form class="modal-content animate d-flex justify-content-center align-items-center"
                              action="/user/addImage" enctype="multipart/form-data"
                              method="post">
                            <span onclick="document.getElementById('id01').style.display='none'" class="close"
                                  title="Close Modal">&times;</span>

                            <input type="file" name="image" class="btn btn-outline-success mt-3 w-75">
                            <div class="container">
                                <button type="button" onclick="document.getElementById('id01').style.display='none'"
                                        class="btn btn-danger">Cancel
                                </button>
                                <input class="btn btn-success ml-3"
                                       onclick="document.getElementById('id01').style.display='none'" type="submit"
                                       value="Add"/>
                            </div>
                        </form>
                    </div>
                </div>
                <div th:if="${us.pic_url != null}">
                    <img class="profilePic" th:src="@{'/post/userImage?'(picUrl=${us.pic_url})}">
                </div>
                <div class="profileToolBar ">
                    <ul class="d-flex ml-5">
                        <li><a href="#info">Information</a></li>
                        <li><a th:href="@{'/userPhotos/'+${us.id}}">Photos</a></li>
                        <li><a th:href="@{'/userFriends/'+${us.id}}">Friends</a></li>
                    </ul>

                </div>
            </div>
        </div>
        <div th:if="${us.pic_url_cover != null}">
            <div th:style="'background:url(' +  @{'/post/userImage?'(picUrl=${us.pic_url_cover})} + ');background-repeat: no-repeat;background-size: cover;'"
                 class="backgroundImgExists d-flex align-items-end">

                <div class="profileBar"></div>
                <div th:if="${us.pic_url == null}" style="display:flex;align-items: center;justify-content: center">
                    <img class="profilePic" src="/user.png">
                    <div class="addPic">
                        <button onclick="document.getElementById('id02').style.display='block'"
                                class="btn btn-outline-success m-3 iBlack">Choose Cover Photo
                        </button>
                    </div>
                    <div id="id02" class="modal">
                        <form class="modal-content animate d-flex justify-content-center align-items-center"
                              action="/user/addImage" enctype="multipart/form-data"
                              method="post">
                            <span onclick="document.getElementById('id02').style.display='none'" class="close"
                                  title="Close Modal">&times;</span>

                            <input type="file" name="image" class="btn mt-3 btn-outline-success w-75">
                            <div class="container">
                                <button type="button" onclick="document.getElementById('id02').style.display='none'"
                                        class="btn btn-danger">Cancel
                                </button>
                                <input class="btn  btn-success ml-3"
                                       onclick="document.getElementById('id02').style.display='none'" type="submit"
                                       value="Add"/>
                            </div>
                        </form>
                    </div>
                </div>
                <div th:if="${us.pic_url != null}">
                    <div class="profilePic"
                         th:style="'background:url(' + @{'/post/userImage?'(picUrl=${us.pic_url})} + ');background-repeat: no-repeat;background-size: cover;'">
                    </div>
                </div>
                <div class="profileToolBar d-flex ">
                    <ul class="d-flex ml-5">
                        <li><a href="#info">Information</a></li>
                        <li><a th:href="@{'/userPhotos/'+${us.id}}">Photos</a></li>
                        <li><a th:href="@{'/userFriends/'+${us.id}}">Friends</a></li>
                    </ul>


                </div>

            </div>

        </div>
        <div class="userPost d-flex">
            <div id="info" class="userData mt-4 d-flex flex-column bg-light  col-md-5">
                <span th:text="${us.name}" class="GFBFont m-2"></span>
                <span th:text="${ us.surname}" class="GFBFont m-2"></span>
                <span th:text="${ us.email}" class="GFBFont m-2"></span>
                <span class="iGreen mt-3"> Add Photos</span>
                <div class="mt-2 ">
                    <form action="/addUserPhotos" class="d-flex m-2" enctype="multipart/form-data" method="post">
                        <input type="file" name="image" class="btn w-75 btn-outline-success">
                        <input type="hidden" name="user_id" th:value="${us.id}">
                        <input type="submit" value="Add" class="btn ml-2 btn-outline-success">
                    </form>
                </div>
            </div>
            <div class="col-md-7 mt-4">
                <form action="/post/addPostFromUserPage" method="post" enctype="multipart/form-data">
                    <div class="addPost    bg-light">
                        <div class="description mt-2 d-flex justify-content-center w-100"><i
                                class="fas iGreen fa-pencil-alt"></i><span class="ml-2 mb-2">Compose Post</span></div>
                        <div class="d-flex addTitle">
                            <div class="d-flex justify-content-center align-items-center w-25">
                                <div th:if="${us.pic_url != null}">
                                    <img class="titlePic border-50"
                                         th:src="@{'/post/userImage?'(picUrl=${us.getPic_url()})}">
                                </div>
                                <div th:if="${us.pic_url == null}">
                                    <img class="titlePic border-50" src="/user.png">
                                </div>
                            </div>
                            <div class="d-flex justify-content-center align-items-center w-75">
                        <textarea class="bg-light" name="name" rows="2" cols="40">

                        </textarea>
                            </div>
                        </div>
                        <div class="addImage d-flex mt-2">
                            <input type="hidden" name="user_id" th:value="${us.id}">
                            <input type="file" name="image" class="btn m-1 btn-success w-50">
                            <input type="submit" class="btn m-1 btn-outline-success w-50">
                        </div>
                    </div>
                </form>
                <div th:if="${posts == null}">
                    </br>
                    <h2 style="text-align: center">You have not any posts yet.
                        you can add it just now </h2>
                </div>
                <div class="post mt-2 borderRounded border bg-light" th:each="post : ${userPost}">
                    <div class="postUser m-2 d-flex justify-content-between">
                        <div th:if="${post.user.pic_url != null}">
                            <a href="#"><img th:src="@{'/post/userImage?'(picUrl=${post.user.pic_url})}">
                                <span
                                        th:text="${post.user.name}+${post.user.surname} " class="iconFontBar"></span>
                            </a>
                        </div>
                        <div th:if="${post.user.pic_url == null}">
                            <a href="#"><img src="/user.png"> <span
                                    th:text="${post.user.name}+${post.user.surname} " class="iconFontBar"></span> </a>
                        </div>
                        <p class="dateFont" th:text="'Date'+ ' '+ ${post.date}"><i class="far iGreen fa-clock"></i></p>

                    </div>
                    <div class="postTitle m-2">
                        <span th:text="${post.name}"></span>
                    </div>
                    <div class="postPic mt-2 w-100">
                        <img class="w-100" th:src="@{'/post/userImage?'(picUrl=${post.getPic_url()})}">
                    </div>
                    <div class="postLike mt-2">
                        <a href="/"><i class="ml-3 fas fa-thumbs-up"></i><span class="ml-1"
                                                                               th:text="${post.likes.size()}"></span></a>
                    </div>
                    <div class="d-flex postHr justify-content-center">
                        <hr/>
                    </div>
                    <div class="postComment d-flex">
                        <div th:if="${post.listStatus.name() != 'TRUE'}"
                             class="w-50 d-flex align-items-center justify-content-center">
                            <form class="d-flex align-items-center justify-content-center" action="/post/addLikeUserPage"
                                  method="post">
                                <i class="far iGreen fa-thumbs-up"></i>
                                <input type="submit" class="btn iGreen btn-link" value="Like">
                                <input type="hidden" name="user_id" th:value="${us.id}">
                                <input type="hidden" name="post_id" th:value="${post.id}">
                            </form>
                        </div>
                        <div th:if="${post.listStatus.name() == 'TRUE'}"
                             class="w-50 d-flex align-items-center justify-content-center">
                            <form class="d-flex align-items-center justify-content-center" action="/post/disLikeUserPage"
                                  method="post">
                                <i class="far iBlue fa-thumbs-up"></i>
                                <input type="submit" class="btn iBlue  btn-link" value="Dislike">
                                <input type="hidden" name="user_id" th:value="${us.id}">
                                <input type="hidden" name="post_id" th:value="${post.id}">
                            </form>
                        </div>

                        <a class="w-50 click m-1"><i class="far iGreen fa-comments"></i><span
                                class="ml-1 iGreen ">Comment</span></a>
                    </div>
                    <div class="d-flex postHr justify-content-center">
                        <hr/>
                    </div>
                    <div class="panel w-100 mt-2 ">
                        <div class="d-flex borderBottom mt-2 align-items-center" th:each="comment : ${post.comments}">
                            <div th:if="${comment.user.pic_url != null}">
                                <img class="userPicMessage"
                                     th:src="@{'/post/userImage?'(picUrl=${comment.user.getPic_url()})}">
                            </div>
                            <div th:if="${comment.user.pic_url == null}">
                                <img class="userPicMessage" src="/user.png">
                            </div>
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <div class="ml-3" th:text="${comment.comment}"></div>
                                <div th:if="${comment.user.id==us.id}">
                                    <form action="/post/deleteComment" method="post">
                                        <input type="hidden" th:value="${comment.id}" name="comment_id">
                                        <input type="submit" class="commentDelete btn btn-link" value="Delete">
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <form class="d-flex clickForm" action="/addComment" method="post" style="margin-top: 10px">
                        <input class="w-100 btn btn-outline-success" type="text" name="comment"
                               placeholder="Write Comment">
                        <input type="hidden" name="post_id" th:value="${post.id}"/>
                        <input type="hidden" name="user_id" th:value="${us.id}">
                        <input type="submit" class="btn btn-outline-success" value="Add">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="borderMessage sideNavThree">
    <div>
        <div th:each="users : ${user}" class="d-flex  iconHover">
            <a th:href="@{|/friendsPage/${users.friend.id}|}">
                <ul class="d-flex m-2">
                    <li class="d-flex">
                        <div th:if="${users.friend.pic_url != null}">
                            <img class="userPicMessage"
                                 th:src="@{'/post/userImage?'(picUrl=${users.friend.pic_url})}">
                        </div>
                        <div th:if="${users.friend.pic_url == null}">
                            <img class="userPicMessage " src="/user.png">
                        </div>
                        <span th:text="${users.friend.name}" class="ml-3 iBlack mt-1"></span>
                        <span th:text="${users.friend.surname}" class="ml-2 iBlack mt-1"></span></li>
                </ul>
            </a>
        </div>
    </div>
</div>
<script src="/min.js"></script>
</body>

</html>